.menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.menu-icon-hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

@mixin menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

@mixin menu-black-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

/* BG ICON */
.bg-custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.play-icon {
  width: 82px;
  height: 86px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='86px' height='90px' viewBox='0 0 86 90' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eplay%3C/title%3E%3Cdefs%3E%3Cfilter x='-155.8%25' y='-106.0%25' width='404.0%25' height='311.9%25' filterUnits='objectBoundingBox' id='filter-1'%3E%3CfeGaussianBlur stdDeviation='13.5000005' in='SourceGraphic'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='linearGradient-2'%3E%3Cstop stop-color='%23FFFFFF' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%23FFFFFF' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='play' transform='translate(34.000000, 27.000000)'%3E%3Cpath d='M0,4.94700921 L0,31.0529908 C-1.73185966e-15,32.4845129 1.16047795,33.6449908 2.59200005,33.6449908 C3.11922442,33.6449908 3.63391259,33.4842144 4.06739235,33.184113 L22.9217124,20.1311222 C24.0986987,19.3162855 24.3922789,17.701594 23.5774423,16.5246077 C23.4000609,16.2683901 23.1779299,16.0462592 22.9217124,15.8688778 L4.06739235,2.81588701 C2.89040605,2.00105034 1.27571451,2.29463062 0.460877848,3.47161692 C0.160776476,3.90509668 1.50183592e-15,4.41978484 0,4.94700921 Z' id='Path' fill='%23FFFFFF' opacity='0.791271391' filter='url(%23filter-1)'%3E%3C/path%3E%3Cpath d='M0,4.94700921 L0,31.0529908 C-1.73185966e-15,32.4845129 1.16047795,33.6449908 2.59200005,33.6449908 C3.11922442,33.6449908 3.63391259,33.4842144 4.06739235,33.184113 L22.9217124,20.1311222 C24.0986987,19.3162855 24.3922789,17.701594 23.5774423,16.5246077 C23.4000609,16.2683901 23.1779299,16.0462592 22.9217124,15.8688778 L4.06739235,2.81588701 C2.89040605,2.00105034 1.27571451,2.29463062 0.460877848,3.47161692 C0.160776476,3.90509668 1.50183592e-15,4.41978484 0,4.94700921 Z' id='Path' fill='url(%23linearGradient-2)' transform='translate(13.000000, 18.000000) rotate(-360.000000) translate(-13.000000, -18.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mail-icon {
  width: 29px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='29px' height='21px' viewBox='0 0 29 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Email-icon%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='mail-icon' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M15.0129778,14.0784 C14.7448889,14.2464 14.4432889,14.3136 14.1752,14.3136 C13.9071111,14.3136 13.6055111,14.2464 13.3374222,14.0784 L2.2470914e-12,5.9136 L2.2470914e-12,16.7664 C2.2470914e-12,19.0848 1.87662222,20.9664 4.18888889,20.9664 L24.1950222,20.9664 C26.5072889,20.9664 28.3839111,19.0848 28.3839111,16.7664 L28.3839111,5.9136 L15.0129778,14.0784 Z' id='Path'%3E%3C/path%3E%3Cpath d='M24.1950222,-3.88133969e-13 L4.18888889,-3.88133969e-13 C2.21173333,-3.88133969e-13 0.536177778,1.4112 0.134044444,3.2928 L14.2087111,11.8944 L28.2498667,3.2928 C27.8477333,1.4112 26.1721778,-3.88133969e-13 24.1950222,-3.88133969e-13 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.calendar-time-icon {
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eevent%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.6'%3E%3Cg id='event' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M20.8182715,13.4948627 L20.8182715,3.78512818 C20.8182715,2.74136022 19.9690096,1.89254191 18.9256852,1.89254191 L16.5599857,1.89254191 C16.298456,1.89254191 16.086828,2.10416984 16.086828,2.36569957 L16.086828,4.73139913 C16.086828,5.25303915 15.6626407,5.67767009 15.1405571,5.67767009 C14.6184735,5.67771445 14.1942861,5.2530835 14.1942861,4.73144349 C14.1942861,4.33591084 14.4484082,3.97967861 14.8263754,3.84523211 C15.0148933,3.77776489 15.1405571,3.59940482 15.1405571,3.3993541 L15.1405571,0.473157656 C15.1405571,0.211627935 14.9289735,-2.4158453e-13 14.6674438,-2.4158453e-13 C14.405914,-2.4158453e-13 14.1942861,0.211627935 14.1942861,0.473157656 L14.1942861,1.89258627 L7.09714306,1.89258627 C6.83561334,1.89258627 6.6239854,2.1042142 6.6239854,2.36574392 L6.6239854,4.73144349 C6.6239854,5.2530835 6.19979803,5.67771445 5.67771445,5.67771445 C5.15563086,5.67771445 4.73144349,5.2530835 4.73144349,4.73144349 C4.73144349,4.33591084 4.98556557,3.97967861 5.36353279,3.84523211 C5.55205066,3.77776489 5.67771445,3.59940482 5.67771445,3.3993541 L5.67771445,0.473157656 C5.67771445,0.211627935 5.46608651,-2.4158453e-13 5.20455679,-2.4158453e-13 C4.94302707,-2.4158453e-13 4.73139913,0.211627935 4.73139913,0.473157656 L4.73139913,1.89258627 L1.89254191,1.89258627 C0.849261881,1.89258627 -2.46913601e-13,2.74136022 -2.46913601e-13,3.78512818 L-2.46913601e-13,18.9256852 C-2.46913601e-13,19.9694532 0.849261881,20.8182715 1.89258627,20.8182715 L13.494774,20.8182715 C14.4503155,21.9734646 15.8938744,22.7108578 17.506301,22.7108578 C20.3756316,22.7108578 22.7108578,20.3761195 22.7108578,17.506301 C22.7108578,15.8937414 21.9733759,14.4502268 20.8182715,13.4948627 Z M12.3016998,17.506301 C12.3016998,17.9988427 12.3750666,18.4737747 12.5034805,18.9257296 L1.89258627,18.9257296 L1.89258627,7.57030071 L18.9257296,7.57030071 L18.9257296,12.5035249 C18.4737747,12.3750222 17.9988427,12.3017442 17.506301,12.3017442 C14.6369261,12.3016998 12.3016998,14.6364825 12.3016998,17.506301 Z M19.2602268,19.2602268 C19.1678309,19.3526228 19.0467359,19.3988429 18.9256852,19.3988429 C18.8046346,19.3988429 18.683584,19.3526228 18.5911437,19.2602268 L17.1717151,17.8407982 C17.0830008,17.7520839 17.033099,17.6319648 17.033099,17.5062566 L17.033099,14.6673994 C17.033099,14.4058697 17.2447269,14.1942418 17.5062566,14.1942418 C17.7677864,14.1942418 17.9794143,14.4058697 17.9794143,14.6673994 L17.9794143,17.3103311 L19.2602268,18.5911437 C19.445063,18.7760242 19.445063,19.075435 19.2602268,19.2602268 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  &.white-color-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='39px' height='39px' viewBox='0 0 39 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M35.3005474,22.8825932 L35.3005474,6.41826082 C35.3005474,4.64839342 33.8604946,3.2090928 32.0913793,3.2090928 L28.0799757,3.2090928 C27.6365123,3.2090928 27.2776649,3.56794017 27.2776649,4.01140361 L27.2776649,8.02280723 C27.2776649,8.90732725 26.5583907,9.62735363 25.6731185,9.62735363 C24.7878463,9.62742884 24.0685721,8.90740246 24.0685721,8.02288244 C24.0685721,7.35219664 24.4994748,6.74815069 25.1403757,6.52017618 C25.4600364,6.40577525 25.6731185,6.1033386 25.6731185,5.76412216 L25.6731185,0.802310808 C25.6731185,0.358847367 25.3143464,0 24.8708829,0 C24.4274195,0 24.0685721,0.358847367 24.0685721,0.802310808 L24.0685721,3.20916802 L12.0342861,3.20916802 C11.5908226,3.20916802 11.2319752,3.56801539 11.2319752,4.01147883 L11.2319752,8.02288244 C11.2319752,8.90740246 10.512701,9.62742884 9.62742884,9.62742884 C8.74215667,9.62742884 8.02288244,8.90740246 8.02288244,8.02288244 C8.02288244,7.35219664 8.4537851,6.74815069 9.09468604,6.52017618 C9.41434676,6.40577525 9.62742884,6.1033386 9.62742884,5.76412216 L9.62742884,0.802310808 C9.62742884,0.358847367 9.26858148,0 8.82511803,0 C8.38165459,0 8.02280723,0.358847367 8.02280723,0.802310808 L8.02280723,3.20916802 L3.2090928,3.20916802 C1.44005275,3.20916802 0,4.64839342 0,6.41826082 L0,32.0913793 C0,33.8612467 1.44005275,35.3005474 3.20916802,35.3005474 L22.8824428,35.3005474 C24.502709,37.259353 26.9504828,38.5097154 29.6845973,38.5097154 C34.549984,38.5097154 38.5097154,34.5508113 38.5097154,29.6845973 C38.5097154,26.9502571 37.2592026,24.5025585 35.3005474,22.8825932 Z M20.8594041,29.6845973 C20.8594041,30.5197768 20.9838085,31.3250962 21.2015539,32.0914545 L3.20916802,32.0914545 L3.20916802,12.8365969 L32.0914545,12.8365969 L32.0914545,21.2016291 C31.3250962,20.9837333 30.5197768,20.8594793 29.6845973,20.8594793 C24.8191355,20.8594041 20.8594041,24.8183833 20.8594041,29.6845973 Z M32.6586455,32.6586455 C32.5019741,32.8153169 32.2966391,32.8936901 32.0913793,32.8936901 C31.8861195,32.8936901 31.6808597,32.8153169 31.5241132,32.6586455 L29.117256,30.2517883 C28.9668274,30.1013597 28.8822113,29.8976794 28.8822113,29.6845221 L28.8822113,24.8708077 C28.8822113,24.4273443 29.2410587,24.0684969 29.6845221,24.0684969 C30.1279856,24.0684969 30.4868329,24.4273443 30.4868329,24.8708077 L30.4868329,29.3523006 L32.6586455,31.5241132 C32.9720634,31.8376063 32.9720634,32.3453028 32.6586455,32.6586455 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
}

.calendar-time-icon-new {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.57715 7.83691H17.4304' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.7017 11.0914H13.7093' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0039 11.0914H10.0117' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.29834 11.0914H6.30606' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.7017 14.3301H13.7093' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0039 14.3301H10.0117' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.29834 14.3301H6.30606' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3696 1.66669V4.409' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.63794 1.66669V4.409' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5319 2.98267H6.4758C4.02856 2.98267 2.5 4.34595 2.5 6.85186V14.3933C2.5 16.9385 4.02856 18.3333 6.4758 18.3333H13.5242C15.9792 18.3333 17.5 16.9622 17.5 14.4563V6.85186C17.5077 4.34595 15.9868 2.98267 13.5319 2.98267Z' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.invoice-icon {
  width: 13px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='20px' viewBox='0 0 13 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Einvoice-icon%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='invoice-icon' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpolygon id='Shape' points='3.46389584e-14 2.66453526e-14 3.46389584e-14 19.6266673 2.73370017 17.765124 4.5561886 18.9917989 6.37867703 17.765124 8.20116546 18.9917989 10.0236539 17.765124 12.7573541 19.6266673 12.7573541 2.66453526e-14'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.invoice-icon-new {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.72071 15.5264L4.77788 18.2342C4.38324 18.4393 3.89705 18.2941 3.67948 17.9062C3.61654 17.786 3.58258 17.6529 3.58032 17.5172V5.51872C3.58032 3.23039 5.14401 2.31506 7.39421 2.31506H12.6802C14.8618 2.31506 16.4941 3.16937 16.4941 5.36616V17.5172C16.4941 17.7337 16.4081 17.9413 16.255 18.0944C16.102 18.2474 15.8945 18.3334 15.678 18.3334C15.5399 18.3312 15.4042 18.2973 15.2813 18.2342L10.308 15.5264C10.1248 15.4274 9.90396 15.4274 9.72071 15.5264Z' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.97461 7.76886H13.054' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.video-camera-icon {
  width: 20px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='11px' viewBox='0 0 20 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Evideo-camera%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='video-camera' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M11.2640002,0.0198065767 L2.17872344,0.0198065767 C0.980425547,0.0198065767 -3.95239397e-13,0.911102528 -3.95239397e-13,2.00046425 L-3.95239397e-13,8.67528059 C-3.95239397e-13,9.76464231 0.980425547,10.6559383 2.17872344,10.6559383 L11.2640002,10.6559383 C12.4622981,10.6559383 13.4427236,9.76464231 13.4427236,8.67528059 L13.4427236,2.00046425 C13.4427236,0.891295951 12.4622981,0.0198065767 11.2640002,0.0198065767 Z' id='Path'%3E%3C/path%3E%3Cpath d='M18.3012769,1.1091683 C18.1705535,1.12897487 18.0398301,1.1883946 17.9308939,1.24781433 L14.5320853,3.03040623 L14.5320853,7.62553203 L17.9526811,9.40812393 C18.5845109,9.74483574 19.3688514,9.54676997 19.7392343,8.97237924 C19.8481705,8.79412005 19.9135322,8.59605429 19.9135322,8.37818194 L19.9135322,2.25794974 C19.9135322,1.52510641 19.150979,0.930909105 18.3012769,1.1091683 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.alarm-icon {
  width: 23px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ealarm%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='alarm' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M18.5714286,13.1019857 L18.5714286,8.57142857 C18.5714286,5.5896 16.7312143,3.0351 14.1295571,1.96698571 C13.7531443,0.82868 12.6916571,0 11.4285714,0 C10.1654929,0 9.104,0.828682857 8.72758571,1.96698571 C6.12591429,3.03510143 4.28571429,5.5896 4.28571429,8.57142857 L4.28571429,13.1026857 C4.28571429,13.4786629 4.13295143,13.8462686 3.86718714,14.11273 L2.85784,15.1220771 L2.85714257,18.5714343 L8.96877114,18.5714343 C9.46428971,19.4213057 10.375544,20 11.4285711,20 C12.4816026,20 13.3928569,19.4213057 13.8883711,18.5714343 L19.9999997,18.5714343 L19.9999997,15.1220771 L18.9899554,14.1134271 C18.7200054,13.84278 18.5714283,13.4835443 18.5714283,13.1019871 L18.5714286,13.1019857 Z' id='Path'%3E%3C/path%3E%3Cpath d='M0.957031429,5.42857143 C0.322265714,6.88015714 0,8.41824286 0,10.0002857 C0,11.5823143 0.322265714,13.1204 0.957031429,14.572 L2.26562571,14.0000129 C1.71038,12.7297843 1.42857143,11.3835271 1.42857143,10.0002986 C1.42857143,8.61706714 1.71038,7.27081286 2.26562571,6.00058429 L0.957031429,5.42857143 L0.957031429,5.42857143 Z' id='Path'%3E%3C/path%3E%3Cpath d='M21.9000229,5.42854571 L20.5914286,6.00055857 C21.1466743,7.27078714 21.4284829,8.61704429 21.4284829,10.0002729 C21.4284829,11.3835043 21.1466743,12.7297586 20.5914286,13.9999871 L21.9000229,14.5719743 C22.5347886,13.1203886 22.8570543,11.5823029 22.8570543,10.00026 C22.8570543,8.41823143 22.5347886,6.88014571 21.9000229,5.42854571 L21.9000229,5.42854571 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.check-icon {
  width: 6px;
  height: 4px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='4px' viewBox='0 0 8 4' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Echeck%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.8' stroke-linecap='round'%3E%3Cpolyline id='check' stroke='%23FFFFFF' points='1 1.81818182 3.11764706 4 7 0'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
}

.person-group-icon {
  width: 27px;
  height: 26px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='27px' height='28px' viewBox='0 0 27 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eperson-group-icon%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='29.0593712%25' y1='31.6901471%25' x2='70.0144595%25' y2='87.1298894%25' id='linearGradient-1'%3E%3Cstop stop-color='%23EF4443' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%23EF6B18' offset='99.9754152%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD' transform='translate(-976.000000, -579.000000)'%3E%3Cg id='person-group-icon' transform='translate(976.000000, 579.000000)'%3E%3Cg id='Group-Copy'%3E%3Crect id='Rectangle' x='0' y='0' width='17.4249998' height='17.4249998'%3E%3C/rect%3E%3Cg id='person-black-user-shape' transform='translate(8.366532, 9.000000) scale(-1, 1) translate(-8.366532, -9.000000) translate(2.366532, 0.000000)' fill='url(%23linearGradient-1)' fill-rule='nonzero'%3E%3Cpath d='M10.5715785,9.43075314 C9.49258804,10.9782779 7.80462228,11.9796874 5.90201608,11.9796874 C3.99940987,11.9796874 2.31144411,10.9782779 1.23245369,9.43075314 C0.485038412,10.0253593 0,10.9401717 0,11.9796874 L0,14.1578124 C0,15.9623779 1.44117586,17.4249998 3.2192815,17.4249998 L8.58475066,17.4249998 C10.3628563,17.4249998 11.8040322,15.9623779 11.8040322,14.1578124 L11.8040322,11.9796874 C11.8040322,10.9401717 11.3189937,10.0253593 10.5715785,9.43075314 Z M5.90201608,10.8906249 C8.56918538,10.8906249 10.7309383,8.45275302 10.7309383,5.44531245 C10.7309383,2.43787189 8.56918538,0 5.90201608,0 C3.23484678,0 1.07309383,2.43787189 1.07309383,5.44531245 C1.07309383,8.45275302 3.23484678,10.8906249 5.90201608,10.8906249 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Group-Copy-2' transform='translate(8.712500, 7.175000)'%3E%3Crect id='Rectangle' x='0' y='0' width='17.4249998' height='17.4249998'%3E%3C/rect%3E%3Cg id='person-black-user-shape' transform='translate(8.366532, 9.000000) scale(-1, 1) translate(-8.366532, -9.000000) translate(2.366532, 0.000000)' fill='url(%23linearGradient-1)' fill-rule='nonzero' stroke='%23191919' stroke-width='1.63999999'%3E%3Cpath d='M10.2975069,8.29758502 C10.5767579,8.43141656 10.8400246,8.59647874 11.0820852,8.78905008 C12.0176649,9.53335035 12.6240321,10.6787192 12.6240321,11.9796874 L12.6240321,11.9796874 L12.6240321,14.1578124 C12.6240321,15.2851487 12.1729553,16.3051388 11.445275,17.0436477 C10.7132434,17.7865726 9.70162801,18.2449998 8.58475066,18.2449998 L8.58475066,18.2449998 L3.2192815,18.2449998 C2.10240414,18.2449998 1.09078877,17.7865726 0.358757177,17.0436477 C-0.36892314,16.3051388 -0.819999993,15.2851487 -0.819999993,14.1578124 L-0.819999993,14.1578124 L-0.819999993,11.9796874 C-0.819999993,10.6787192 -0.213632761,9.53335035 0.721946906,8.78905008 C0.964064691,8.59643331 1.22739846,8.43133868 1.50671749,8.29776746 C1.62308963,8.52636886 1.75627963,8.7483249 1.90509605,8.96176248 C2.82865978,10.286369 4.26818018,11.1596874 5.90201608,11.1596874 C7.53585197,11.1596874 8.97537238,10.286369 9.8989361,8.96176248 C10.0478089,8.74824406 10.1810434,8.52620071 10.2975069,8.29758502 Z M5.90201608,-0.819999993 C7.47212497,-0.819999993 8.8993023,-0.111657568 9.93013677,1.05075829 C10.9274679,2.17539424 11.5509383,3.72735748 11.5509383,5.44531245 C11.5509383,7.16326743 10.9274679,8.71523066 9.93013677,9.83986662 C8.8993023,11.0022825 7.47212497,11.7106249 5.90201608,11.7106249 C4.33190719,11.7106249 2.90472985,11.0022825 1.87389538,9.83986662 C0.876564259,8.71523066 0.253093839,7.16326743 0.253093839,5.44531245 C0.253093839,3.72735748 0.876564259,2.17539424 1.87389538,1.05075829 C2.90472985,-0.111657568 4.33190719,-0.819999993 5.90201608,-0.819999993 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.person-group-icon2 {
  width: 27px;
  height: 26px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='27px' height='28px' viewBox='0 0 27 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eperson-group-icon-color02%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.6'%3E%3Cg id='Desktop-HD' transform='translate(-1011.000000, -610.000000)'%3E%3Cg id='person-group-icon-color02' transform='translate(1011.000000, 610.000000)'%3E%3Cg id='Group-Copy'%3E%3Crect id='Rectangle' x='0' y='0' width='17.4249998' height='17.4249998'%3E%3C/rect%3E%3Cg id='person-black-user-shape' transform='translate(8.366532, 9.000000) scale(-1, 1) translate(-8.366532, -9.000000) translate(2.366532, 0.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M10.5715785,9.43075314 C9.49258804,10.9782779 7.80462228,11.9796874 5.90201608,11.9796874 C3.99940987,11.9796874 2.31144411,10.9782779 1.23245369,9.43075314 C0.485038412,10.0253593 0,10.9401717 0,11.9796874 L0,14.1578124 C0,15.9623779 1.44117586,17.4249998 3.2192815,17.4249998 L8.58475066,17.4249998 C10.3628563,17.4249998 11.8040322,15.9623779 11.8040322,14.1578124 L11.8040322,11.9796874 C11.8040322,10.9401717 11.3189937,10.0253593 10.5715785,9.43075314 Z M5.90201608,10.8906249 C8.56918538,10.8906249 10.7309383,8.45275302 10.7309383,5.44531245 C10.7309383,2.43787189 8.56918538,0 5.90201608,0 C3.23484678,0 1.07309383,2.43787189 1.07309383,5.44531245 C1.07309383,8.45275302 3.23484678,10.8906249 5.90201608,10.8906249 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Group-Copy-2' transform='translate(8.712500, 7.175000)'%3E%3Crect id='Rectangle' x='0' y='0' width='17.4249998' height='17.4249998'%3E%3C/rect%3E%3Cg id='person-black-user-shape' transform='translate(8.366532, 9.000000) scale(-1, 1) translate(-8.366532, -9.000000) translate(2.366532, 0.000000)' fill='%23FFFFFF' fill-rule='nonzero' stroke='%23212121' stroke-width='1.63999999'%3E%3Cpath d='M10.2975069,8.29758502 C10.5767579,8.43141656 10.8400246,8.59647874 11.0820852,8.78905008 C12.0176649,9.53335035 12.6240321,10.6787192 12.6240321,11.9796874 L12.6240321,11.9796874 L12.6240321,14.1578124 C12.6240321,15.2851487 12.1729553,16.3051388 11.445275,17.0436477 C10.7132434,17.7865726 9.70162801,18.2449998 8.58475066,18.2449998 L8.58475066,18.2449998 L3.2192815,18.2449998 C2.10240414,18.2449998 1.09078877,17.7865726 0.358757177,17.0436477 C-0.36892314,16.3051388 -0.819999993,15.2851487 -0.819999993,14.1578124 L-0.819999993,14.1578124 L-0.819999993,11.9796874 C-0.819999993,10.6787192 -0.213632761,9.53335035 0.721946906,8.78905008 C0.964064691,8.59643331 1.22739846,8.43133868 1.50671749,8.29776746 C1.62308963,8.52636886 1.75627963,8.7483249 1.90509605,8.96176248 C2.82865978,10.286369 4.26818018,11.1596874 5.90201608,11.1596874 C7.53585197,11.1596874 8.97537238,10.286369 9.8989361,8.96176248 C10.0478089,8.74824406 10.1810434,8.52620071 10.2975069,8.29758502 Z M5.90201608,-0.819999993 C7.47212497,-0.819999993 8.8993023,-0.111657568 9.93013677,1.05075829 C10.9274679,2.17539424 11.5509383,3.72735748 11.5509383,5.44531245 C11.5509383,7.16326743 10.9274679,8.71523066 9.93013677,9.83986662 C8.8993023,11.0022825 7.47212497,11.7106249 5.90201608,11.7106249 C4.33190719,11.7106249 2.90472985,11.0022825 1.87389538,9.83986662 C0.876564259,8.71523066 0.253093839,7.16326743 0.253093839,5.44531245 C0.253093839,3.72735748 0.876564259,2.17539424 1.87389538,1.05075829 C2.90472985,-0.111657568 4.33190719,-0.819999993 5.90201608,-0.819999993 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.credit-card-icon {
  width: 31px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='31px' height='23px' viewBox='0 0 31 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecredit-card%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD' transform='translate(-1061.000000, -555.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='credit-card' transform='translate(1061.000000, 555.000000)'%3E%3Cpath d='M30.7199986,2.55999989 L30.7199986,20.0959991 C30.7199986,21.507583 29.5715827,22.655999 28.1599987,22.655999 L2.55999989,22.655999 C1.14841595,22.655999 0,21.507583 0,20.0959991 L0,12.4159994 C0,12.1332475 0.22924799,11.9039995 0.511999977,11.9039995 C0.794751964,11.9039995 1.02399995,12.1332475 1.02399995,12.4159994 L1.02399995,20.0959991 C1.02399995,20.9429111 1.71308792,21.631999 2.55999989,21.631999 L28.1599987,21.631999 C29.0069107,21.631999 29.6959987,20.9429111 29.6959987,20.0959991 L29.6959987,2.55999989 C29.6959987,1.71308792 29.0069107,1.02399995 28.1599987,1.02399995 L2.55999989,1.02399995 C1.71308792,1.02399995 1.02399995,1.71308792 1.02399995,2.55999989 L1.02399995,4.60799979 L27.2639988,4.60799979 C27.5467508,4.60799979 27.7759988,4.83724778 27.7759988,5.11999977 C27.7759988,5.40275176 27.5467508,5.63199975 27.2639988,5.63199975 L1.02399995,5.63199975 L1.02399995,8.9599996 L27.2639988,8.9599996 C27.5467508,8.9599996 27.7759988,9.18924759 27.7759988,9.47199958 C27.7759988,9.75475156 27.5467508,9.98399955 27.2639988,9.98399955 L0.511999977,9.98399955 C0.22924799,9.98399955 0,9.75475156 0,9.47199958 L0,2.55999989 C0,1.14841595 1.14841595,0 2.55999989,0 L28.1599987,0 C29.5715827,0 30.7199986,1.14841595 30.7199986,2.55999989 Z M26.6239988,15.8719993 C26.6239988,14.5576313 25.1628789,13.7605114 24.0559989,14.4757114 C25.1421429,16.2549113 23.8565109,18.5599992 21.759999,18.5599992 C20.2778231,18.5599992 19.0719991,17.3541752 19.0719991,15.8719993 C19.0719991,13.6661114 21.596031,12.4025594 23.359999,13.7135354 C25.1318389,12.4028794 27.6479988,13.6702074 27.6479988,15.8719993 C27.6479988,17.3541752 26.4421748,18.5599992 24.9599989,18.5599992 C24.6772469,18.5599992 24.4479989,18.3307512 24.4479989,18.0479992 C24.4479989,17.7652472 24.6772469,17.5359992 24.9599989,17.5359992 C25.8775668,17.5359992 26.6239988,16.7895672 26.6239988,15.8719993 Z M23.423999,15.8719993 C23.423999,14.9544313 22.677567,14.2079994 21.759999,14.2079994 C20.8424311,14.2079994 20.0959991,14.9544313 20.0959991,15.8719993 C20.0959991,16.7895672 20.8424311,17.5359992 21.759999,17.5359992 C22.677567,17.5359992 23.423999,16.7895672 23.423999,15.8719993 Z M4.67199979,14.7839993 L8.9599996,14.7839993 C9.24275159,14.7839993 9.47199958,14.5547513 9.47199958,14.2719994 C9.47199958,13.9892474 9.24275159,13.7599994 8.9599996,13.7599994 L4.67199979,13.7599994 C4.3892478,13.7599994 4.15999981,13.9892474 4.15999981,14.2719994 C4.15999981,14.5547513 4.3892478,14.7839993 4.67199979,14.7839993 Z M4.67199979,17.9839992 L8.9599996,17.9839992 C9.24275159,17.9839992 9.47199958,17.7547512 9.47199958,17.4719992 C9.47199958,17.1892472 9.24275159,16.9599992 8.9599996,16.9599992 L4.67199979,16.9599992 C4.3892478,16.9599992 4.15999981,17.1892472 4.15999981,17.4719992 C4.15999981,17.7547512 4.3892478,17.9839992 4.67199979,17.9839992 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.user-icon {
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Euser%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='user' fill='%23081C2E' fill-rule='nonzero'%3E%3Cpath d='M9.90171218,7.4991275 C9.26995748,6.86739545 8.51800557,6.39972523 7.69758317,6.11662172 C8.57628026,5.51142142 9.15356671,4.4985702 9.15356671,3.35328681 C9.15356671,1.504289 7.64927771,0 5.80027989,0 C3.95128208,0 2.44699308,1.504289 2.44699308,3.35328681 C2.44699308,4.4985702 3.02427953,5.51142142 3.90299928,6.11662172 C3.08257688,6.39972523 2.33062496,6.86739545 1.69887026,7.4991275 C0.603342396,8.59467802 0,10.0512506 0,11.6005598 L0.906293733,11.6005598 C0.906293733,8.90200222 3.10172233,6.70657363 5.80027989,6.70657363 C8.49883746,6.70657363 10.6942661,8.90200222 10.6942661,11.6005598 L11.6005598,11.6005598 C11.6005598,10.0512506 10.9972174,8.59467802 9.90171218,7.4991275 Z M5.80027989,5.80027989 C4.45101244,5.80027989 3.35328681,4.70257692 3.35328681,3.35328681 C3.35328681,2.0039967 4.45101244,0.906293733 5.80027989,0.906293733 C7.14954735,0.906293733 8.24727297,2.0039967 8.24727297,3.35328681 C8.24727297,4.70257692 7.14954735,5.80027989 5.80027989,5.80027989 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logout-icon {
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elogout%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='logout' fill='%23081C2E' fill-rule='nonzero'%3E%3Cpath d='M5.87134952,10.7837004 L1.46782587,10.7837004 C1.1977415,10.7837004 0.978558253,10.5644942 0.978558253,10.2944328 L0.978558253,1.48740854 C0.978558253,1.21732417 1.19776451,0.998140924 1.46782587,0.998140924 L5.87134952,0.998140924 C6.14191714,0.998140924 6.36061714,0.779440921 6.36061714,0.508873303 C6.36061714,0.238305685 6.14191714,0.0195596594 5.87134952,0.0195596594 L1.46782587,0.0195596594 C0.658562226,0.0195596594 1.16270631e-15,0.678144896 1.16270631e-15,1.48740854 L1.16270631e-15,10.2944098 C1.16270631e-15,11.1036735 0.658562226,11.7622357 1.46782587,11.7622357 L5.87134952,11.7622357 C6.14191714,11.7622357 6.36061714,11.5435357 6.36061714,11.2729681 C6.36061714,11.0024004 6.14191714,10.7837004 5.87134952,10.7837004 Z' id='Path'%3E%3C/path%3E%3Cpath d='M11.6360184,5.54254014 L8.66120127,2.60686538 C8.46940155,2.41702163 8.15920836,2.41948384 7.96936461,2.6117668 C7.77952085,2.80404976 7.78147682,3.11375971 7.97426603,3.30360346 L10.1001709,5.40161855 L4.40350063,5.40161855 C4.13293302,5.40161855 3.91423301,5.62031855 3.91423301,5.89088617 C3.91423301,6.16145378 4.13293302,6.3801768 4.40350063,6.3801768 L10.1001709,6.3801768 L7.97426603,8.47819189 C7.78149983,8.66803564 7.7800271,8.97774559 7.96936461,9.17002855 C8.06525296,9.26690639 8.1914933,9.31582855 8.31773365,9.31582855 C8.44201802,9.31582855 8.56627939,9.26886235 8.66120127,9.17490695 L11.6360184,6.2392322 C11.7289843,6.14725577 11.7818184,6.02198191 11.7818184,5.89086316 C11.7818184,5.75979043 11.7294675,5.63502281 11.6360184,5.54254014 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.active-link-pattern-icon {
  width: 30px;
  height: 3px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='3px' viewBox='0 0 30 3' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eactive-link-pattern%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Menu/user1' transform='translate(-101.000000, -35.000000)' fill='%23FF5F00'%3E%3Cg id='active-link-pattern' transform='translate(101.000000, 35.000000)'%3E%3Crect id='Rectangle' x='0' y='0' width='22' height='3' rx='1.5'%3E%3C/rect%3E%3Ccircle id='Oval' cx='24.5' cy='1.5' r='1.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-5' cx='28.5' cy='1.5' r='1.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Esearch-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.875581287'%3E%3Cg id='search-icon' fill='%23191919'%3E%3Cpath d='M4.35588235,14.2578431 L5.74215686,15.6441176 L1.58333333,19.8039216 L0.196078431,18.4176471 L4.35588235,14.2578431 Z M11.9607843,13.9215686 C8.71764706,13.9215686 6.07843137,11.2823529 6.07843137,8.03921569 C6.07843137,4.79509804 8.71764706,2.15686275 11.9607843,2.15686275 C15.204902,2.15686275 17.8431373,4.79509804 17.8431373,8.03921569 C17.8431373,11.2823529 15.204902,13.9215686 11.9607843,13.9215686 L11.9607843,13.9215686 Z M11.9607843,0.196078431 C7.62941176,0.196078431 4.11764706,3.70784314 4.11764706,8.03921569 C4.11764706,12.3705882 7.62941176,15.8823529 11.9607843,15.8823529 C16.2931373,15.8823529 19.8039216,12.3705882 19.8039216,8.03921569 C19.8039216,3.70784314 16.2931373,0.196078431 11.9607843,0.196078431 L11.9607843,0.196078431 Z' id='search_right-%5B%231505%5D' transform='translate(10.000000, 10.000000) scale(-1, 1) translate(-10.000000, -10.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search-icon-new {
  width: 34px;
  height: 34px;
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4496 2.83325C8.9295 2.83325 2.83325 8.79486 2.83325 16.1489C2.83325 23.5029 8.9295 29.4645 16.4496 29.4645C19.6659 29.4645 22.6218 28.374 24.9516 26.5504L29.3774 30.8672L29.4951 30.9663C29.9061 31.2637 30.4886 31.2298 30.8604 30.8653C31.2694 30.4643 31.2685 29.815 30.8585 29.415L26.4847 25.149C28.7086 22.779 30.066 19.619 30.066 16.1489C30.066 8.79486 23.9697 2.83325 16.4496 2.83325ZM16.4496 4.8842C22.8114 4.8842 27.9686 9.92756 27.9686 16.1489C27.9686 22.3702 22.8114 27.4135 16.4496 27.4135C10.0878 27.4135 4.9305 22.3702 4.9305 16.1489C4.9305 9.92756 10.0878 4.8842 16.4496 4.8842Z' fill='%23808191'/%3E%3C/svg%3E%0A");
}

.custom-check-icon {
  width: 10px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='12px' viewBox='0 0 14 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Echeck%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cpolyline id='check' stroke='%23FFFFFF' stroke-width='3.33199998' points='2 5.42999988 5.26666656 8.85999977 11.7999997 2'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
}

.mic-icon {
  width: 18px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='24px' viewBox='0 0 18 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Emic-icon%3C/title%3E%3Cdefs%3E%3Crect id='path-1' x='-3.59999969' y='11.136895' width='24.4799979' height='1.43999988' rx='0.719999938'%3E%3C/rect%3E%3Cfilter x='-2.0%25' y='-34.7%25' width='104.1%25' height='238.9%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='1' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0' type='matrix' in='shadowOffsetOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='mic-icon'%3E%3Cg id='microphone' transform='translate(0.514386, 0.000000)' fill='%23191919' fill-rule='nonzero'%3E%3Cpath d='M16.5342394,11.02768 C16.5342394,10.6458612 16.2247661,10.3364801 15.8430394,10.3364801 C15.4613128,10.3364801 15.1518395,10.6458612 15.1518395,11.02768 C15.1518395,14.8040277 12.079502,17.8763653 8.30315424,17.8763653 C4.52680652,17.8763653 1.45446895,14.8039356 1.45446895,11.02768 C1.45446895,10.6458612 1.14499571,10.3364801 0.763269032,10.3364801 C0.381542356,10.3364801 0.0720691116,10.6458612 0.0720691116,11.02768 C0.0720691116,15.333579 3.39554265,18.8772228 7.61195432,19.2294583 L7.61195432,21.6750157 L4.53316555,21.6750157 C4.15143888,21.6750157 3.84196563,21.9843968 3.84196563,22.3662156 C3.84196563,22.7480345 4.15143888,23.0574156 4.53316555,23.0574156 L12.0730508,23.0574156 C12.4547774,23.0574156 12.7642507,22.7480345 12.7642507,22.3662156 C12.7642507,21.9843968 12.4547774,21.6750157 12.0730508,21.6750157 L8.994262,21.6750157 L8.994262,19.2294583 C13.2106737,18.8772228 16.5342394,15.333579 16.5342394,11.02768 Z' id='Path'%3E%3C/path%3E%3Cpath d='M8.30306208,15.4887764 C10.7629965,15.4887764 12.7642507,13.4875223 12.7642507,11.02768 L12.7642507,4.46109644 C12.7642507,2.00125417 10.7629965,0 8.30306208,0 C5.8432198,0 3.84196563,2.00125417 3.84196563,4.46109644 L3.84196563,11.02768 C3.84196563,13.4876144 5.8432198,15.4887764 8.30306208,15.4887764 Z M5.22436547,4.46109644 C5.22436547,2.76350944 6.60547507,1.38239984 8.30306208,1.38239984 C10.0007412,1.38239984 11.3818508,2.76350944 11.3818508,4.46109644 L11.3818508,11.02768 C11.3818508,12.725267 10.0007412,14.1063766 8.30306208,14.1063766 C6.60547507,14.1063766 5.22436547,12.725267 5.22436547,11.02768 L5.22436547,4.46109644 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3Cg id='Rectangle' transform='translate(8.639999, 11.856895) rotate(-50.000000) translate(-8.639999, -11.856895) '%3E%3Cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='%23191919' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.video-cam-icon {
  width: 25px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='21px' viewBox='0 0 25 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Evideo-camera-icon%3C/title%3E%3Cdefs%3E%3Crect id='path-1' x='0' y='9.69689517' width='24.4799979' height='1.43999988' rx='0.719999938'%3E%3C/rect%3E%3Cfilter x='-2.0%25' y='-34.7%25' width='104.1%25' height='238.9%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='1' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0' type='matrix' in='shadowOffsetOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='video-camera-icon'%3E%3Cg id='video-camera-(2)' transform='translate(0.514386, 2.880000)' fill='%23191919' fill-rule='nonzero'%3E%3Cpath d='M23.2651442,0.121697266 C23.0613784,-0.00423935951 22.8069247,-0.0156211182 22.5926527,0.0914227094 L16.1894688,3.29306074 L16.1894688,0.709631918 C16.1894688,0.327905242 15.8799956,0.0184319979 15.4982689,0.0184319979 L0.69119992,0.0184319979 C0.309473244,0.0184319979 0,0.327905242 0,0.709631918 L0,14.0359664 C0,14.417693 0.309473244,14.7271663 0.69119992,14.7271663 L15.4982228,14.7271663 C15.8799495,14.7271663 16.1894228,14.417693 16.1894228,14.0359664 L16.1894228,11.4526297 L22.5926527,14.6541756 C22.6902041,14.7029743 22.7960498,14.7271663 22.9017573,14.7271663 C23.0281087,14.7271663 23.1541836,14.6925141 23.2651442,14.623901 C23.4689099,14.4979644 23.5929573,14.2754902 23.5929573,14.0359203 L23.5929573,0.709585838 C23.5929573,0.470062026 23.4689099,0.247587811 23.2651442,0.121697266 Z M14.8070229,4.40764365 C14.8070229,4.40893389 14.8068847,4.41017805 14.8068847,4.41146829 L14.8068847,10.3341761 C14.8068847,10.3354663 14.8070229,10.3367105 14.8070229,10.3380007 L14.8070229,13.3447665 L1.38239984,13.3447665 L1.38239984,1.40078576 L14.8070229,1.40078576 L14.8070229,4.40764365 Z M22.2105574,12.9176049 L16.1894228,9.90706061 L16.1894228,4.83858376 L22.2105574,1.82799339 L22.2105574,12.9176049 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3Cg id='Rectangle-Copy-8' transform='translate(12.239999, 10.416895) rotate(-50.000000) translate(-12.239999, -10.416895) '%3E%3Cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='%23191919' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.television-icon {
  width: 24px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='17px' viewBox='0 0 24 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Etelevision-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='television-icon' fill='%23191919'%3E%3Cpath d='M22.9000985,0.0331775962 L0.6928588,0.0331775962 C0.310210524,0.0331775962 0,0.34338812 0,0.726036396 L0,13.4852183 C0,13.8678666 0.310210524,14.1780771 0.6928588,14.1780771 L9.35331732,14.1780771 L9.35331732,15.4463368 L7.48412841,15.4463368 C7.10148014,15.4463368 6.79126961,15.7565473 6.79126961,16.1391956 C6.79126961,16.5218438 7.10148014,16.8320544 7.48412841,16.8320544 L16.1087828,16.8320544 C16.491431,16.8320544 16.8016416,16.5218438 16.8016416,16.1391956 C16.8016416,15.7565473 16.491431,15.4463368 16.1087828,15.4463368 L14.2396399,15.4463368 L14.2396399,14.1780771 L22.9000985,14.1780771 C23.2827467,14.1780771 23.5929573,13.8678666 23.5929573,13.4852183 L23.5929573,0.726036396 C23.5929573,0.34338812 23.2827467,0.0331775962 22.9000985,0.0331775962 Z M12.8539224,15.4463828 L10.7390349,15.4463828 L10.7390349,14.1781232 L12.8539224,14.1781232 L12.8539224,15.4463828 Z M22.2072397,12.7924056 L1.3857176,12.7924056 L1.3857176,1.41894128 L22.2072397,1.41894128 L22.2072397,12.7924056 Z' id='XMLID_1988_'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sort-down-icon {
  width: 22px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='20px' viewBox='0 0 22 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Esort-down%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='sort-down' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M1.21690487,5.70819099 L13.4800488,5.70819099 L13.4800488,3.27433363 L1.21690487,3.27433363 C0.544857192,3.27433363 0,3.81919082 0,4.4912385 C0,5.16328618 0.544857192,5.70819099 1.21690487,5.70819099 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.21690487,10.5918581 L13.4800488,10.5918581 L13.4800488,8.15800073 L1.21690487,8.15800073 C0.544857192,8.15800073 0,8.70285792 0,9.37495322 C0,10.0470485 0.544857192,10.5918581 1.21690487,10.5918581 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.21690487,13.0416202 L1.21690487,13.0416678 C0.544857192,13.0416678 0,13.5864774 0,14.2585727 C0,14.930668 0.544857192,15.4754776 1.21690487,15.4754776 L9.73642944,15.4754776 C9.64019134,15.1790966 9.58938181,14.8664775 9.58938181,14.5458108 C9.58938181,14.0088108 9.73019135,13.4937155 9.99319137,13.0416202 L1.21690487,13.0416202 L1.21690487,13.0416202 Z' id='Path'%3E%3C/path%3E%3Cpath d='M21.45824,13.4576679 C20.8572876,12.8566678 19.8828589,12.8566678 19.2818589,13.4576679 L18.0182873,14.7212394 L18.0182873,1.5679049 C18.0182873,0.717952445 17.3292873,0.0290000026 16.4793348,0.0290000026 C15.6293823,0.0290000026 14.9403823,0.718000064 14.9403823,1.5679049 L14.9403823,14.7212394 L13.6768107,13.4576679 C13.0758107,12.8567154 12.1014297,12.8566678 11.5004296,13.4576679 C10.8994295,14.0586679 10.8994295,15.033049 11.5004296,15.634049 L15.3909061,19.5244779 C15.9907157,20.124478 16.9663349,20.1265256 17.5677635,19.5244779 L21.45824,15.634049 C22.0591924,15.033049 22.0592401,14.0586679 21.45824,13.4576679 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.downloading-file-icon {
  width: 12px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='13px' viewBox='0 0 12 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edownloading-file%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='downloading-file' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M10.6565624,8.77739268 C10.1870309,8.77739268 9.8062939,9.15802783 9.8062939,9.62755932 L9.8062939,10.9527307 L1.70023145,10.9527307 L1.70023145,9.62755932 C1.70023145,9.15805329 1.3195963,8.77739268 0.850064811,8.77739268 C0.380533325,8.77739268 -0.000101828559,9.15802783 -0.000101828559,9.62755932 L-0.000101828559,11.8028974 C-0.000101828559,12.2724034 0.380533325,12.6531658 0.850064811,12.6531658 L10.6565878,12.6531658 C11.1260939,12.6531658 11.5067545,12.2724034 11.5067545,11.8028974 L11.5067545,9.62755932 C11.5067545,9.15802783 11.1260939,8.77739268 10.6565624,8.77739268 Z' id='Path'%3E%3C/path%3E%3Cpath d='M5.49665471,9.68198668 C5.63827277,9.82350292 5.86832895,9.82350292 6.00979427,9.68198668 L8.98927245,6.70253396 C9.0760813,6.61572511 9.10186938,6.48533364 9.05492642,6.37159114 C9.00798345,6.25830687 8.89760129,6.18445571 8.77459239,6.18445571 L7.37562073,6.18445571 L7.37562073,0.687953745 C7.37562073,0.321320018 7.07876503,0.0244643113 6.71220767,0.0244643113 L4.79469953,0.0244643113 C4.42816763,0.0244643113 4.13128647,0.321294561 4.13128647,0.687953745 L4.13128647,6.18445571 L2.73183113,6.18445571 C2.60894951,6.18445571 2.49856735,6.25828141 2.45162439,6.37159114 C2.40468142,6.48533364 2.43049496,6.61572511 2.51717652,6.70253396 L5.49665471,9.68198668 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.image-picture-icon {
  width: 20px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='16px' viewBox='0 0 20 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eimage-picture-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='image-picture-icon' fill='%23FFFFFF'%3E%3Cpath d='M11.711214,4.63271128 C11.711214,3.53582978 12.5786754,2.6474054 13.6496753,2.6474054 C14.7206752,2.6474054 15.5881366,3.53582978 15.5881366,4.63271128 C15.5881366,5.72959279 14.7206752,6.61801717 13.6496753,6.61801717 C12.5786754,6.61801717 11.711214,5.72959279 11.711214,4.63271128 L11.711214,4.63271128 Z M17.4461518,11.9972035 L13.5566292,8.01467986 L13.5411215,8.02956966 L13.5256138,8.01467986 L12.1396139,9.43417357 L7.65304524,4.84017575 L7.63850678,4.8560582 L7.62299909,4.84017575 L1.93846131,10.6620853 L1.93846131,1.98530589 L17.4461518,1.98530589 L17.4461518,11.9972035 Z M3.37507799e-14,15.8824471 L19.3846131,15.8824471 L19.3846131,1.77635684e-15 L3.37507799e-14,1.77635684e-15 L3.37507799e-14,15.8824471 Z' id='image_picture-%5B%23971%5D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.edit-pencil-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eedit-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='edit-icon'%3E%3Crect id='Rectangle' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cg id='edit' transform='translate(2.000000, 2.000000)' fill='%23FFFFFF' fill-opacity='0.34' fill-rule='nonzero'%3E%3Cpath d='M11.66925,2.9253 L1.208625,13.385925 L0.0229875,18.21435 C-0.043425,18.4846875 0.0363,18.770025 0.2331375,18.9668625 C0.4306125,19.1643375 0.7161375,19.2431625 0.98565,19.1770125 L5.8141125,17.991375 L16.2747375,7.53075 L11.66925,2.9253 Z M1.5328875,17.6671125 L1.94055,16.00695 L3.19305,17.25945 L1.5328875,17.6671125 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M18.847425,3.255675 L15.944325,0.352575 C15.474225,-0.117525 14.712075,-0.117525 14.241975,0.352575 L13.0860375,1.5085125 L17.6914875,6.1139625 L18.847425,4.958025 C19.317525,4.4879625 19.317525,3.725775 18.847425,3.255675 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.time-clock-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eclock%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='clock' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M12,0 C5.37271875,0 0,5.37271875 0,12 C0,18.6272812 5.37271875,24 12,24 C18.6272812,24 24,18.6272812 24,12 C24,5.37271875 18.6272812,0 12,0 Z M12,21.9999844 C6.47728125,21.9999844 2.00001562,17.5227188 2.00001562,12 C2.00001562,6.47728125 6.47728125,2.00001562 12,2.00001562 C17.5227187,2.00001562 21.9999844,6.47728125 21.9999844,12 C21.9999844,17.5227187 17.5227187,21.9999844 12,21.9999844 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M12,3.99998437 C11.4477187,3.99998437 11.0000156,4.4476875 11.0000156,4.99996875 L11.0000156,10.9999687 L8.00001562,10.9999687 C7.44773437,10.9999687 7.00003125,11.4476719 7.00003125,11.9999531 C7.00003125,12.5522344 7.44773437,12.9999375 8.00001562,12.9999375 L12,12.9999375 C12.5522813,12.9999375 12.9999844,12.5522344 12.9999844,11.9999531 L12.9999844,5.00001562 C12.9999844,4.44773437 12.5522813,3.99998437 12,3.99998437 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.seat-icon {
  width: 34px;
  height: 34px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='34px' height='34px' viewBox='0 0 34 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eseat-icon%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.176525298'%3E%3Cg filter='url(%23filter-1)' id='seat-icon'%3E%3Cg%3E%3Crect id='Rectangle' x='0' y='0' width='34' height='34'%3E%3C/rect%3E%3Cg id='sofa' transform='translate(2.000000, 2.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M6.25202614,15.9316993 C6.25202614,15.9372549 6.25202614,15.9421569 6.25202614,15.9470588 C6.77764706,16.8739869 7.0527451,17.9218301 7.05026144,18.9873856 L7.05026144,20.164183 C9.29444444,19.2864706 11.919281,18.8235294 14.6626797,18.8235294 C18.2998039,18.8235294 20.9706536,19.6162092 22.3768627,20.160719 L22.3866013,18.9866667 C22.3866013,17.7184967 22.6856863,16.5842484 23.209281,15.6646405 L24.3944444,7.85633987 C24.7005229,5.85339869 24.1713725,3.9375817 22.9024837,2.46098039 C21.5569281,0.897973856 19.5191503,0 17.3118954,0 L12.1263399,0 C9.91490196,0 7.87359477,0.897973856 6.53294118,2.4630719 C5.26555556,3.94039216 4.73568627,5.85620915 5.04176471,7.85777778 L6.25202614,15.9316993 Z' id='Path'%3E%3C/path%3E%3Cpath d='M27.25,14.6405229 C24.9723529,14.6405229 23.780915,16.8275163 23.780915,18.9866667 L23.780915,20.2805882 C23.780915,20.7623529 23.5550327,21.2141176 23.1897386,21.4573856 C22.8741176,21.6696732 22.4726144,21.7081699 22.1223529,21.5598693 C20.9022876,21.0586275 18.3130065,20.2178431 14.6626797,20.2178431 C11.9904575,20.2178431 9.44928105,20.6821569 7.31385621,21.5598693 C6.96352941,21.7087582 6.56169935,21.6705229 6.24581699,21.4581046 C5.88117647,21.2141176 5.65464052,20.760915 5.65464052,20.2813072 L5.65464052,18.9866667 C5.65464052,16.5466013 3.98143791,14.6405229 1.84254902,14.6405229 C0.66503268,14.6405229 0.0222222222,16.0348366 0.0222222222,16.7459477 C0.0222222222,17.6104575 0.629477124,18.580915 1.37614379,18.9071895 C1.45215686,18.9406536 1.53581699,18.9769281 1.62503268,19.0089542 C2.30267974,19.2794771 3.56313725,19.7820915 3.56313725,21.2266667 L3.56313725,24.029281 C3.56313725,25.0750327 3.78830065,27.3756863 5.67,27.8086275 C5.66339869,27.8338562 5.65823529,27.8594771 5.65464052,27.8852941 L5.65464052,29.2796078 C5.65464052,29.6646405 5.96679739,29.9767974 6.35183007,29.9767974 L7.04901961,29.9767974 C7.43405229,29.9767974 7.74620915,29.6646405 7.74620915,29.2796078 L7.74620915,27.8866667 L21.6895425,27.8866667 L21.6895425,29.2810458 C21.6895425,29.6660784 22.0016993,29.9782353 22.386732,29.9782353 L23.0839216,29.9782353 C23.4689542,29.9782353 23.7811111,29.6660784 23.7811111,29.2810458 L23.7811111,27.886732 C23.7811111,27.8671895 23.7713725,27.8504575 23.7699346,27.831634 C25.4870588,27.5039869 25.8726144,25.6306536 25.8726144,24.0313725 L25.8726144,21.2287582 C25.8726144,19.7828105 27.1275163,19.2801961 27.8030719,19.0096732 C27.8901961,18.9748366 27.9724837,18.9399346 28.0477778,18.9085621 C28.7526144,18.5983007 29.30268,17.6473856 29.30268,16.7473203 C29.3032026,16.025098 28.4358824,14.6405229 27.25,14.6405229 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.seat-active-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='34px' height='34px' viewBox='0 0 34 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eseat-active-icon%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 0.372549 0 0 0 0 0.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg filter='url(%23filter-1)' id='seat-active-icon'%3E%3Cg%3E%3Crect id='Rectangle' x='0' y='0' width='34' height='34'%3E%3C/rect%3E%3Cg id='sofa' transform='translate(2.000000, 2.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M6.25202614,15.9316993 C6.25202614,15.9372549 6.25202614,15.9421569 6.25202614,15.9470588 C6.77764706,16.8739869 7.0527451,17.9218301 7.05026144,18.9873856 L7.05026144,20.164183 C9.29444444,19.2864706 11.919281,18.8235294 14.6626797,18.8235294 C18.2998039,18.8235294 20.9706536,19.6162092 22.3768627,20.160719 L22.3866013,18.9866667 C22.3866013,17.7184967 22.6856863,16.5842484 23.209281,15.6646405 L24.3944444,7.85633987 C24.7005229,5.85339869 24.1713725,3.9375817 22.9024837,2.46098039 C21.5569281,0.897973856 19.5191503,0 17.3118954,0 L12.1263399,0 C9.91490196,0 7.87359477,0.897973856 6.53294118,2.4630719 C5.26555556,3.94039216 4.73568627,5.85620915 5.04176471,7.85777778 L6.25202614,15.9316993 Z' id='Path'%3E%3C/path%3E%3Cpath d='M27.25,14.6405229 C24.9723529,14.6405229 23.780915,16.8275163 23.780915,18.9866667 L23.780915,20.2805882 C23.780915,20.7623529 23.5550327,21.2141176 23.1897386,21.4573856 C22.8741176,21.6696732 22.4726144,21.7081699 22.1223529,21.5598693 C20.9022876,21.0586275 18.3130065,20.2178431 14.6626797,20.2178431 C11.9904575,20.2178431 9.44928105,20.6821569 7.31385621,21.5598693 C6.96352941,21.7087582 6.56169935,21.6705229 6.24581699,21.4581046 C5.88117647,21.2141176 5.65464052,20.760915 5.65464052,20.2813072 L5.65464052,18.9866667 C5.65464052,16.5466013 3.98143791,14.6405229 1.84254902,14.6405229 C0.66503268,14.6405229 0.0222222222,16.0348366 0.0222222222,16.7459477 C0.0222222222,17.6104575 0.629477124,18.580915 1.37614379,18.9071895 C1.45215686,18.9406536 1.53581699,18.9769281 1.62503268,19.0089542 C2.30267974,19.2794771 3.56313725,19.7820915 3.56313725,21.2266667 L3.56313725,24.029281 C3.56313725,25.0750327 3.78830065,27.3756863 5.67,27.8086275 C5.66339869,27.8338562 5.65823529,27.8594771 5.65464052,27.8852941 L5.65464052,29.2796078 C5.65464052,29.6646405 5.96679739,29.9767974 6.35183007,29.9767974 L7.04901961,29.9767974 C7.43405229,29.9767974 7.74620915,29.6646405 7.74620915,29.2796078 L7.74620915,27.8866667 L21.6895425,27.8866667 L21.6895425,29.2810458 C21.6895425,29.6660784 22.0016993,29.9782353 22.386732,29.9782353 L23.0839216,29.9782353 C23.4689542,29.9782353 23.7811111,29.6660784 23.7811111,29.2810458 L23.7811111,27.886732 C23.7811111,27.8671895 23.7713725,27.8504575 23.7699346,27.831634 C25.4870588,27.5039869 25.8726144,25.6306536 25.8726144,24.0313725 L25.8726144,21.2287582 C25.8726144,19.7828105 27.1275163,19.2801961 27.8030719,19.0096732 C27.8901961,18.9748366 27.9724837,18.9399346 28.0477778,18.9085621 C28.7526144,18.5983007 29.30268,17.6473856 29.30268,16.7473203 C29.3032026,16.025098 28.4358824,14.6405229 27.25,14.6405229 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.seat-icon-box.active {
  .seat-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='34px' height='34px' viewBox='0 0 34 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eseat-active-icon%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 0.372549 0 0 0 0 0.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg filter='url(%23filter-1)' id='seat-active-icon'%3E%3Cg%3E%3Crect id='Rectangle' x='0' y='0' width='34' height='34'%3E%3C/rect%3E%3Cg id='sofa' transform='translate(2.000000, 2.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M6.25202614,15.9316993 C6.25202614,15.9372549 6.25202614,15.9421569 6.25202614,15.9470588 C6.77764706,16.8739869 7.0527451,17.9218301 7.05026144,18.9873856 L7.05026144,20.164183 C9.29444444,19.2864706 11.919281,18.8235294 14.6626797,18.8235294 C18.2998039,18.8235294 20.9706536,19.6162092 22.3768627,20.160719 L22.3866013,18.9866667 C22.3866013,17.7184967 22.6856863,16.5842484 23.209281,15.6646405 L24.3944444,7.85633987 C24.7005229,5.85339869 24.1713725,3.9375817 22.9024837,2.46098039 C21.5569281,0.897973856 19.5191503,0 17.3118954,0 L12.1263399,0 C9.91490196,0 7.87359477,0.897973856 6.53294118,2.4630719 C5.26555556,3.94039216 4.73568627,5.85620915 5.04176471,7.85777778 L6.25202614,15.9316993 Z' id='Path'%3E%3C/path%3E%3Cpath d='M27.25,14.6405229 C24.9723529,14.6405229 23.780915,16.8275163 23.780915,18.9866667 L23.780915,20.2805882 C23.780915,20.7623529 23.5550327,21.2141176 23.1897386,21.4573856 C22.8741176,21.6696732 22.4726144,21.7081699 22.1223529,21.5598693 C20.9022876,21.0586275 18.3130065,20.2178431 14.6626797,20.2178431 C11.9904575,20.2178431 9.44928105,20.6821569 7.31385621,21.5598693 C6.96352941,21.7087582 6.56169935,21.6705229 6.24581699,21.4581046 C5.88117647,21.2141176 5.65464052,20.760915 5.65464052,20.2813072 L5.65464052,18.9866667 C5.65464052,16.5466013 3.98143791,14.6405229 1.84254902,14.6405229 C0.66503268,14.6405229 0.0222222222,16.0348366 0.0222222222,16.7459477 C0.0222222222,17.6104575 0.629477124,18.580915 1.37614379,18.9071895 C1.45215686,18.9406536 1.53581699,18.9769281 1.62503268,19.0089542 C2.30267974,19.2794771 3.56313725,19.7820915 3.56313725,21.2266667 L3.56313725,24.029281 C3.56313725,25.0750327 3.78830065,27.3756863 5.67,27.8086275 C5.66339869,27.8338562 5.65823529,27.8594771 5.65464052,27.8852941 L5.65464052,29.2796078 C5.65464052,29.6646405 5.96679739,29.9767974 6.35183007,29.9767974 L7.04901961,29.9767974 C7.43405229,29.9767974 7.74620915,29.6646405 7.74620915,29.2796078 L7.74620915,27.8866667 L21.6895425,27.8866667 L21.6895425,29.2810458 C21.6895425,29.6660784 22.0016993,29.9782353 22.386732,29.9782353 L23.0839216,29.9782353 C23.4689542,29.9782353 23.7811111,29.6660784 23.7811111,29.2810458 L23.7811111,27.886732 C23.7811111,27.8671895 23.7713725,27.8504575 23.7699346,27.831634 C25.4870588,27.5039869 25.8726144,25.6306536 25.8726144,24.0313725 L25.8726144,21.2287582 C25.8726144,19.7828105 27.1275163,19.2801961 27.8030719,19.0096732 C27.8901961,18.9748366 27.9724837,18.9399346 28.0477778,18.9085621 C28.7526144,18.5983007 29.30268,17.6473856 29.30268,16.7473203 C29.3032026,16.025098 28.4358824,14.6405229 27.25,14.6405229 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.notifications-icon {
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.50083 13.7871V13.5681C3.53295 12.9202 3.7406 12.2925 4.10236 11.7496C4.7045 11.0975 5.1167 10.2983 5.29571 9.43598C5.29571 8.7695 5.29571 8.0935 5.35393 7.42703C5.65469 4.21842 8.82728 2 11.9611 2H12.0387C15.1725 2 18.345 4.21842 18.6555 7.42703C18.7137 8.0935 18.6555 8.7695 18.704 9.43598C18.8854 10.3003 19.2972 11.1019 19.8974 11.7591C20.2618 12.2972 20.4698 12.9227 20.4989 13.5681V13.7776C20.5206 14.648 20.2208 15.4968 19.6548 16.1674C18.907 16.9515 17.8921 17.4393 16.8024 17.5384C13.607 17.8812 10.383 17.8812 7.18762 17.5384C6.09914 17.435 5.08576 16.9479 4.33521 16.1674C3.778 15.4963 3.48224 14.6526 3.50083 13.7871Z' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.55518 20.8518C10.0545 21.4785 10.7876 21.884 11.5925 21.9788C12.3973 22.0735 13.2074 21.8495 13.8435 21.3564C14.0391 21.2106 14.2152 21.041 14.3674 20.8518' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
