.creative-career-today-section {
  position: relative;

  .creative-career-today-div {
    padding: 70px 0 30px 0;
    margin: 0;

    .content-div {
      h2 {
        padding: 0;
        margin: 0;
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 50px;
        line-height: 1.2;
        max-width: 600px;
        color: #fff;
        letter-spacing: 0;
        font-family: "Moderat Extended", sans-serif;
        background: linear-gradient(104.58deg, #ffd7bd 12.09%, #ef4443 72.26%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .button-group-div {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      height: 100%;
      align-items: center;
    }
  }
}

footer {
  position: relative;
}

.footer-div {
  padding: 40px 0 15px 0;
  margin: 0;
  position: relative;
  background-color: var(--bg-color01);
  overflow: hidden;

  &.footer-bg2 {
    background-color: #212121;
  }

  &.footer-bg3 {
    background-color: #191919;
  }

  &::before {
    content: "";
    // background: linear-gradient(114.74deg, #EF4443 8.09%, #EF6B18 93.47%);
    background: rgb(239, 68, 67);
    background: linear-gradient(113deg, rgba(239, 68, 67, 1) 8.09%, rgba(239, 107, 24, 1) 93.47%);
    opacity: 0.3;
    filter: blur(250px);
    border-radius: 10px;
    position: absolute;
    bottom: -240px;
    height: 274px;
    max-height: 274px;
    display: block;
    left: 0;
    width: 100%;
  }

  .content-footer-div {
    .logo-img {
      transition: display ease-in-out 0.5s;
      width: 130px;
      height: 60px;
      object-fit: contain;
      object-position: left;
    }

    .logo-footer {
      margin: 0 0 40px 0;

      .logo_link {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        .main-logo {
          width: 35px;
          height: 47px;
          display: flex;
          object-fit: contain;
          object-position: left;
        }

        h1.text-logo {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          color: #fff;
          font-family: "Moderat Extended", sans-serif;
          display: block;
          padding: 0 0 0 10px;
        }
      }
    }

    .social-row {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-content-row {
    padding: 70px 0 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .about-desc-footer-div {
      padding: 0 10px 0 0;
      margin: 0 0 20px 0;
      position: relative;
      max-width: 410px;

      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        color: #fff;
        letter-spacing: 0;
        margin: 0 0 10px 0;
      }

      p {
        opacity: 0.71;
        font-weight: 400;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.85);
        letter-spacing: 0;
        line-height: 1.4;
      }
    }

    .mail-bx-div {
      .form-group {
        position: relative;
        margin: 0 0 30px 0;

        .form-control {
          border-radius: 8px;
          padding: 10px 48px 10px 20px;
          background: #1e1e27;
          border: 1px solid #282a33;
          min-height: 56px;
          font-weight: 400;
          font-size: 16px;
          color: rgba(255, 255, 255, 1);

          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.75);
          }

          &::-moz-placeholder {
            color: rgba(255, 255, 255, 0.75);
          }

          &:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.75);
          }

          &:-moz-placeholder {
            color: rgba(255, 255, 255, 0.75);
          }
        }
      }

      .btn.btn-arrow-send {
        background: linear-gradient(114.74deg, #ef4443 8.09%, #ef6b18 93.47%);
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 100px;
        color: #fff;
        padding: 0;
      }

      .abs-bn-right-send {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 2px 0;
      }
    }

    .footer-nav-list-inner {
      margin: 0 0 30px 0;

      .footer-title-div {
        margin: 0 0 20px 0;

        h3 {
          font-weight: 600;
          font-size: 18px;
          line-height: 1.5;
          color: #fff;
        }
      }

      .footer-list-ul {
        li {
          .link {
            font-weight: 400;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.85);
            letter-spacing: 0;
            line-height: 1.5;
            margin: 0 0 10px 0;
            transition: all 0.8s;
            display: block;

            &:hover {
              color: #ef4443;
            }
          }
        }
      }
    }

    .social-icon-div-root {
      padding: 0;
      margin: 0;
      position: relative;

      ul.footer-social-ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0 20px 10px 0;

          &:last-child {
            margin-right: 0;
          }
        }

        .social-link {
          margin: 0;
          transition: all 0.8s;
          height: 40px;
          width: 40px;
          color: #fff;
          border: 1px solid rgba(255, 255, 255, 0.2);
          text-align: center;
          padding: 0;
          font-size: 14px;
          line-height: 40px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: linear-gradient(121.85deg, #ef4443 14.84%, #ef6b18 91.11%);
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .es-box-div {
      .e-div {
        padding: 0;
        margin: 0 0 16px 0;
        position: relative;

        .link-icon-a {
          .text {
            width: calc(100% - 34px);
            text-align: left;
          }
        }

        .link {
          font-weight: 400;
          font-size: 16px;
          color: #fff;
          letter-spacing: 0;
          text-align: center;
          line-height: 1.5;
          display: flex;
          align-items: center;
          margin: 0 0 10px 0;
          word-break: break-all;
          flex-wrap: wrap;

          span.icon-span {
            width: 34px;
            display: flex;
            text-align: left;
          }

          .bg-custom-icon {
            margin: 0 10px 0 0;
          }
        }

        .big-text-link {
          font-weight: 600;
          font-size: 24px;
          line-height: 25px;
        }
      }
    }
  }

  .footer-copyright-div {
    .footer-copyright-box-root {
      padding: 30px 0 20px 0;
      margin: 0;
      width: 100%;

      p {
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.65);
        letter-spacing: 0;
        line-height: 1.5;
        margin: 0;
        transition: all 0.8s;
        text-align: center;
        display: block;

        a {
          color: inherit;
        }
      }
    }
  }
}

.footer-inner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: var(--bg-color01);
  overflow: hidden;

  &::before {
    content: "";
    // background: linear-gradient(114.74deg, #EF4443 8.09%, #EF6B18 93.47%);
    // background: rgb(239, 68, 67);
    // background: linear-gradient(113deg, rgba(239, 68, 67, 1) 8.09%, rgba(239, 107, 24, 1) 93.47%);
    opacity: 0.3;
    filter: blur(250px);
    border-radius: 10px;
    position: absolute;
    bottom: -240px;
    height: 274px;
    max-height: 274px;
    display: block;
    left: 0;
    width: 100%;
  }

  .footer-content-row {
    padding: 20px 0 21px 0;
    border-top: 1px solid #ffffff33;
  }

  .content-footer-div {
    .logo-img {
      transition: display ease-in-out 0.5s;
      width: 130px;
      height: 60px;
      object-fit: contain;
      object-position: left;
    }

    .logo-footer {
      margin: 0;

      .logo_link {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        .main-logo {
          width: 35px;
          height: 47px;
          display: flex;
          object-fit: contain;
          object-position: left;
        }

        h1.text-logo {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          color: #fff;
          font-family: "Moderat Extended", sans-serif;
          display: block;
          padding: 0 0 0 10px;
        }
      }
    }

    .social-row {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .social-icon-div-root {
    padding: 0;
    margin: 0;
    position: relative;

    ul.footer-social-ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      min-height: 47px;

      li {
        margin: 0 20px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .social-link {
        margin: 0;
        transition: all 0.8s;
        height: 40px;
        width: 40px;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        padding: 0;
        font-size: 14px;
        line-height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: linear-gradient(121.85deg, #ef4443 14.84%, #ef6b18 91.11%);
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .footer-copyright-div {
    height: 100%;
    display: flex;
    align-items: center;

    .footer-copyright-box-root {
      padding: 0;
      margin: 0;
      width: 100%;

      p {
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.65);
        letter-spacing: 0;
        line-height: 1.5;
        margin: 0;
        transition: all 0.8s;
        text-align: center;
        display: block;

        a {
          color: inherit;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .creative-career-today-section {
    .creative-career-today-div {
      padding: 40px 0 30px 0;

      .content-div {
        margin: 0 0 30px 0;

        h2 {
          font-size: 26px;
          text-align: center;
        }
      }

      .button-group-div {
        justify-content: center;
      }
    }
  }

  .footer-div {
    padding: 20px 0 20px 0;

    .footer-content-row {
      padding: 20px 5px 10px 5px;
      border-top: none;

      .content-footer-div {
        .logo-footer {
          text-align: center;
          margin: 0 0 34px 0;

          .logo_link {
            justify-content: center;

            .main-logo {
              width: 25px;
              height: 34px;
            }

            h1.text-logo {
              padding: 11px 0 0 0;
              font-size: 14px;
              line-height: 1.5;
              width: 100%;
            }
          }
        }
      }

      .footer-nav-list-inner {
        .footer-title-div {
          h3 {
            font-size: 16px;
          }
        }

        .footer-list-ul {
          margin: 0 0 45px 0;

          li {
            .link {
              font-size: 14px;
            }
          }
        }
      }

      .social-icon-div-root {
        margin: 0 auto 50px auto;

        ul.footer-social-ul {
          justify-content: center;
        }
      }

      .es-box-div {
        .e-div {
          .link {
            font-size: 14px;

            .bg-custom-icon {
              margin: 0 8px 0 0;
              width: 22px;
              height: 16px;
            }
          }
        }
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        padding: 20px 0 0 0;

        p {
          font-size: 14px;
        }
      }
    }
  }

  .footer-inner-div {
    .content-footer-div {
      .logo-footer {
        text-align: center;
        margin: 20px 0 34px 0;

        .logo_link {
          justify-content: center;

          .main-logo {
            width: 25px;
            height: 34px;
          }

          h1.text-logo {
            padding: 11px 0 0 0;
            font-size: 14px;
            line-height: 1.5;
            width: 100%;
          }
        }
      }
    }

    .social-icon-div-root {
      margin: 0 auto 5px auto;

      ul.footer-social-ul {
        justify-content: center;
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        padding: 29px 0 10px 0;

        p {
          font-size: 14px;
        }
      }
    }

    .fn-order01 {
      order: 1;
    }

    .fn-order02 {
      order: 3;
    }

    .fn-order03 {
      order: 2;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .creative-career-today-section {
    .creative-career-today-div {
      padding: 40px 0 30px 0;

      .content-div {
        h2 {
          font-size: 36px;
        }
      }
    }
  }

  .footer-div {
    padding: 40px 0 20px 0;

    .footer-content-row {
      padding: 40px 5px 10px 5px;
      border-top: none;

      .logo-footer {
        .logo_link {
          h1.text-logo {
            font-size: 14px;
            line-height: 1.2;
            padding: 0 0 0 6px;

            .text-logo-span1 {
              display: block;
            }
          }
        }
      }

      .footer-nav-list-inner {
        .footer-title-div {
          h3 {
            font-size: 16px;
          }
        }

        .footer-list-ul {
          margin: 0 0 45px 0;

          li {
            .link {
              font-size: 14px;
            }
          }
        }
      }

      .social-icon-div-root {
        margin: 0 auto 50px auto;

        ul.footer-social-ul {
          li {
            margin: 0 5px 5px 0;

            .social-link {
              height: 32px;
              width: 32px;
              font-size: 14px;
            }
          }
        }
      }

      .es-box-div {
        .e-div {
          .link {
            font-size: 14px;

            .bg-custom-icon {
              margin: 0 8px 0 0;
              width: 22px;
              height: 16px;
            }
          }
        }
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        padding: 20px 0 0 0;

        p {
          font-size: 14px;
        }
      }
    }
  }

  .footer-inner-div {
    .content-footer-div {
      padding: 0 5px 0 5px;
      border-top: none;

      .logo-footer {
        .logo_link {
          h1.text-logo {
            font-size: 14px;
            line-height: 1.2;
            padding: 0 0 0 6px;

            .text-logo-span1 {
              display: block;
            }
          }
        }
      }
    }

    .social-icon-div-root {
      margin: 0 auto 0 auto;

      ul.footer-social-ul {
        li {
          margin: 0 8px 8px 0;

          .social-link {
            height: 32px;
            width: 32px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
