.creative-career-today-section {
  position: relative;
}

.creative-career-today-section .creative-career-today-div {
  padding: 70px 0 30px 0;
  margin: 0;
}

.creative-career-today-section .creative-career-today-div .content-div h2 {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0;
  font-family: "Moderat Extended", sans-serif;
  background: linear-gradient(104.58deg, #ffd7bd 12.09%, #ef4443 72.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creative-career-today-section .creative-career-today-div .button-group-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  position: relative;
}

.footer-div {
  padding: 40px 0 15px 0;
  margin: 0;
  position: relative;
  background-color: var(--bg-color01);
  overflow: hidden;
}

.footer-div.footer-bg2 {
  background-color: #212121;
}

.footer-div.footer-bg3 {
  background-color: #191919;
}

.footer-div::before {
  content: "";
  background: #ef4443;
  background: linear-gradient(113deg, #ef4443 8.09%, #ef6b18 93.47%);
  opacity: 0.3;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  border-radius: 10px;
  position: absolute;
  bottom: -240px;
  height: 274px;
  max-height: 274px;
  display: block;
  left: 0;
  width: 100%;
}

.footer-div .content-footer-div .logo-img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 130px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.footer-div .content-footer-div .logo-footer {
  margin: 0 0 40px 0;
}

.footer-div .content-footer-div .logo-footer .logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-div .content-footer-div .logo-footer .logo_link .main-logo {
  width: 35px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.footer-div .content-footer-div .logo-footer .logo_link h1.text-logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Moderat Extended", sans-serif;
  display: block;
  padding: 0 0 0 10px;
}

.footer-div .content-footer-div .social-row {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-div .footer-content-row {
  padding: 70px 0 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-div .footer-content-row .about-desc-footer-div {
  padding: 0 10px 0 0;
  margin: 0 0 20px 0;
  position: relative;
  max-width: 410px;
}

.footer-div .footer-content-row .about-desc-footer-div h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0;
  margin: 0 0 10px 0;
}

.footer-div .footer-content-row .about-desc-footer-div p {
  opacity: 0.71;
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 0;
  line-height: 1.4;
}

.footer-div .footer-content-row .mail-bx-div .form-group {
  position: relative;
  margin: 0 0 30px 0;
}

.footer-div .footer-content-row .mail-bx-div .form-group .form-control {
  border-radius: 8px;
  padding: 10px 48px 10px 20px;
  background: #1e1e27;
  border: 1px solid #282a33;
  min-height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.footer-div .footer-content-row .mail-bx-div .form-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.footer-div .footer-content-row .mail-bx-div .form-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.footer-div .footer-content-row .mail-bx-div .form-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.footer-div .footer-content-row .mail-bx-div .form-group .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.footer-div .footer-content-row .mail-bx-div .btn.btn-arrow-send {
  background: linear-gradient(114.74deg, #ef4443 8.09%, #ef6b18 93.47%);
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 100px;
  color: #fff;
  padding: 0;
}

.footer-div .footer-content-row .mail-bx-div .abs-bn-right-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 2px 0;
}

.footer-div .footer-content-row .footer-nav-list-inner {
  margin: 0 0 30px 0;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-title-div {
  margin: 0 0 20px 0;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-title-div h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0 0 10px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  display: block;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link:hover {
  color: #ef4443;
}

.footer-div .footer-content-row .social-icon-div-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul li {
  margin: 0 20px 10px 0;
}

.footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul li:last-child {
  margin-right: 0;
}

.footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul .social-link {
  margin: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: 40px;
  width: 40px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul .social-link:hover {
  background: linear-gradient(121.85deg, #ef4443 14.84%, #ef6b18 91.11%);
  color: white;
}

.footer-div .footer-content-row .es-box-div .e-div {
  padding: 0;
  margin: 0 0 16px 0;
  position: relative;
}

.footer-div .footer-content-row .es-box-div .e-div .link-icon-a .text {
  width: calc(100% - 34px);
  text-align: left;
}

.footer-div .footer-content-row .es-box-div .e-div .link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
  word-break: break-all;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-div .footer-content-row .es-box-div .e-div .link span.icon-span {
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.footer-div .footer-content-row .es-box-div .e-div .link .bg-custom-icon {
  margin: 0 10px 0 0;
}

.footer-div .footer-content-row .es-box-div .e-div .big-text-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
}

.footer-div .footer-copyright-div .footer-copyright-box-root {
  padding: 30px 0 20px 0;
  margin: 0;
  width: 100%;
}

.footer-div .footer-copyright-div .footer-copyright-box-root p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-align: center;
  display: block;
}

.footer-div .footer-copyright-div .footer-copyright-box-root p a {
  color: inherit;
}

.footer-inner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: var(--bg-color01);
  overflow: hidden;
}

.footer-inner-div::before {
  content: "";
  opacity: 0.3;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  border-radius: 10px;
  position: absolute;
  bottom: -240px;
  height: 274px;
  max-height: 274px;
  display: block;
  left: 0;
  width: 100%;
}

.footer-inner-div .footer-content-row {
  padding: 20px 0 21px 0;
  border-top: 1px solid #ffffff33;
}

.footer-inner-div .content-footer-div .logo-img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 130px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.footer-inner-div .content-footer-div .logo-footer {
  margin: 0;
}

.footer-inner-div .content-footer-div .logo-footer .logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-inner-div .content-footer-div .logo-footer .logo_link .main-logo {
  width: 35px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.footer-inner-div .content-footer-div .logo-footer .logo_link h1.text-logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Moderat Extended", sans-serif;
  display: block;
  padding: 0 0 0 10px;
}

.footer-inner-div .content-footer-div .social-row {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inner-div .social-icon-div-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-inner-div .social-icon-div-root ul.footer-social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 47px;
}

.footer-inner-div .social-icon-div-root ul.footer-social-ul li {
  margin: 0 20px 0 0;
}

.footer-inner-div .social-icon-div-root ul.footer-social-ul li:last-child {
  margin-right: 0;
}

.footer-inner-div .social-icon-div-root ul.footer-social-ul .social-link {
  margin: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: 40px;
  width: 40px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-inner-div .social-icon-div-root ul.footer-social-ul .social-link:hover {
  background: linear-gradient(121.85deg, #ef4443 14.84%, #ef6b18 91.11%);
  color: white;
}

.footer-inner-div .footer-copyright-div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inner-div .footer-copyright-div .footer-copyright-box-root {
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer-inner-div .footer-copyright-div .footer-copyright-box-root p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-align: center;
  display: block;
}

.footer-inner-div .footer-copyright-div .footer-copyright-box-root p a {
  color: inherit;
}

@media (max-width: 767px) {
  .creative-career-today-section .creative-career-today-div {
    padding: 40px 0 30px 0;
  }
  .creative-career-today-section .creative-career-today-div .content-div {
    margin: 0 0 30px 0;
  }
  .creative-career-today-section .creative-career-today-div .content-div h2 {
    font-size: 26px;
    text-align: center;
  }
  .creative-career-today-section .creative-career-today-div .button-group-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-div {
    padding: 20px 0 20px 0;
  }
  .footer-div .footer-content-row {
    padding: 20px 5px 10px 5px;
    border-top: none;
  }
  .footer-div .footer-content-row .content-footer-div .logo-footer {
    text-align: center;
    margin: 0 0 34px 0;
  }
  .footer-div .footer-content-row .content-footer-div .logo-footer .logo_link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-div .footer-content-row .content-footer-div .logo-footer .logo_link .main-logo {
    width: 25px;
    height: 34px;
  }
  .footer-div .footer-content-row .content-footer-div .logo-footer .logo_link h1.text-logo {
    padding: 11px 0 0 0;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-title-div h3 {
    font-size: 16px;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul {
    margin: 0 0 45px 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link {
    font-size: 14px;
  }
  .footer-div .footer-content-row .social-icon-div-root {
    margin: 0 auto 50px auto;
  }
  .footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-div .footer-content-row .es-box-div .e-div .link {
    font-size: 14px;
  }
  .footer-div .footer-content-row .es-box-div .e-div .link .bg-custom-icon {
    margin: 0 8px 0 0;
    width: 22px;
    height: 16px;
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root {
    padding: 20px 0 0 0;
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root p {
    font-size: 14px;
  }
  .footer-inner-div .content-footer-div .logo-footer {
    text-align: center;
    margin: 20px 0 34px 0;
  }
  .footer-inner-div .content-footer-div .logo-footer .logo_link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-inner-div .content-footer-div .logo-footer .logo_link .main-logo {
    width: 25px;
    height: 34px;
  }
  .footer-inner-div .content-footer-div .logo-footer .logo_link h1.text-logo {
    padding: 11px 0 0 0;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
  }
  .footer-inner-div .social-icon-div-root {
    margin: 0 auto 5px auto;
  }
  .footer-inner-div .social-icon-div-root ul.footer-social-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-inner-div .footer-copyright-div .footer-copyright-box-root {
    padding: 29px 0 10px 0;
  }
  .footer-inner-div .footer-copyright-div .footer-copyright-box-root p {
    font-size: 14px;
  }
  .footer-inner-div .fn-order01 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-inner-div .fn-order02 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer-inner-div .fn-order03 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .creative-career-today-section .creative-career-today-div {
    padding: 40px 0 30px 0;
  }
  .creative-career-today-section .creative-career-today-div .content-div h2 {
    font-size: 36px;
  }
  .footer-div {
    padding: 40px 0 20px 0;
  }
  .footer-div .footer-content-row {
    padding: 40px 5px 10px 5px;
    border-top: none;
  }
  .footer-div .footer-content-row .logo-footer .logo_link h1.text-logo {
    font-size: 14px;
    line-height: 1.2;
    padding: 0 0 0 6px;
  }
  .footer-div .footer-content-row .logo-footer .logo_link h1.text-logo .text-logo-span1 {
    display: block;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-title-div h3 {
    font-size: 16px;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul {
    margin: 0 0 45px 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link {
    font-size: 14px;
  }
  .footer-div .footer-content-row .social-icon-div-root {
    margin: 0 auto 50px auto;
  }
  .footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul li {
    margin: 0 5px 5px 0;
  }
  .footer-div .footer-content-row .social-icon-div-root ul.footer-social-ul li .social-link {
    height: 32px;
    width: 32px;
    font-size: 14px;
  }
  .footer-div .footer-content-row .es-box-div .e-div .link {
    font-size: 14px;
  }
  .footer-div .footer-content-row .es-box-div .e-div .link .bg-custom-icon {
    margin: 0 8px 0 0;
    width: 22px;
    height: 16px;
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root {
    padding: 20px 0 0 0;
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root p {
    font-size: 14px;
  }
  .footer-inner-div .content-footer-div {
    padding: 0 5px 0 5px;
    border-top: none;
  }
  .footer-inner-div .content-footer-div .logo-footer .logo_link h1.text-logo {
    font-size: 14px;
    line-height: 1.2;
    padding: 0 0 0 6px;
  }
  .footer-inner-div .content-footer-div .logo-footer .logo_link h1.text-logo .text-logo-span1 {
    display: block;
  }
  .footer-inner-div .social-icon-div-root {
    margin: 0 auto 0 auto;
  }
  .footer-inner-div .social-icon-div-root ul.footer-social-ul li {
    margin: 0 8px 8px 0;
  }
  .footer-inner-div .social-icon-div-root ul.footer-social-ul li .social-link {
    height: 32px;
    width: 32px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=footer.css.map */