.owl-slider-main-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .owl-slider-main-slider {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: var(--bg-color01);
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .our-video-img-slider-box {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;

      .our-video-img-thumb {
        padding: 0;
        margin: 0 0 12px 0;
        position: relative;
        overflow: hidden;

        .img-responsive {
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: top;
          transition: 0.8s;
          border-radius: 6px;
        }

        .video-button-div {
          .video-button-link {
            position: absolute;
            top: calc(50% - 30px);
            right: calc(50% - 30px);
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(121deg, transparent 2%, transparent 100%);
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 100px;
            font-size: 22px;
            color: #fff;
            padding: 0;
            outline: none;
            transition: all 0.8s;

            .fa {
              padding: 1px 0 0 4px;
            }

            &:hover {
              background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
            }
          }
        }
      }

      .our-content-div {
        .link {
          color: inherit;
        }

        h3 {
          font-weight: 500;
          line-height: 1.3;
          display: block;
          margin: 0 0 5px 0;
          font-size: 14px;
          color: #fff;
          letter-spacing: 0;
        }

        h4 {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.3;
          display: block;
          color: rgba(255, 255, 255, 0.6);
          letter-spacing: 0;
        }
      }
    }
  }
}

.upcoming-live-streams-slider-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .owl-slider-main-slider {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: #191919;
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .live-streams-img-slider-box {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;
      width: 800px;
      max-width: 100%;

      .live-streams-img-thumb {
        padding: 0;
        margin: 0 0 20px 0;
        position: relative;
        overflow: hidden;

        .img-responsive {
          width: 100%;
          height: 390px;
          object-fit: cover;
          object-position: top;
          transition: 0.8s;
          border-radius: 6px;
        }

        .video-overlay-content-div {
          padding: 20px;
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;

          .video-overlay-content-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            .video-overlay-content-left {
              width: 65%;

              .label-div {
                ul {
                  display: flex;
                  align-items: flex-start;

                  li {
                    margin: 0 8px 0 0;
                  }

                  .link-black {
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 22px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 1.4;
                    color: #fff;
                    letter-spacing: 0;
                    padding: 6px 30px 5px 30px;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    transition: all 0.8s;

                    &:hover {
                      background: rgba(0, 0, 0, 1);
                    }
                  }
                }
              }
            }

            .video-overlay-content-right {
              width: 35%;

              .sp-label-div {
                display: flex;
                justify-content: flex-end;

                .link-black-sp {
                  background: rgba(0, 0, 0, 0.5);
                  border-radius: 22px;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 1.4;
                  color: #fff;
                  letter-spacing: 0;
                  padding: 6px 20px 5px 20px;
                  margin: 0;
                  display: flex;
                  align-items: center;
                  transition: all 0.8s;

                  .bg-custom-icon {
                    margin: 0 10px 0 0;
                  }

                  &:hover {
                    background: rgba(0, 0, 0, 1);
                  }
                }
              }
            }
          }
        }
      }

      .live-streams-content-div {
        .link {
          color: inherit;
        }

        .live-streams-content-row {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          width: 100%;

          .live-streams-content-left {
            padding: 0;
            width: 65%;
            position: relative;

            .user-top-box {
              display: flex;
              align-items: flex-start;
              flex-wrap: wrap;
              width: 100%;

              .img-thumb {
                width: 80px;
                position: relative;

                .img-responsive {
                  height: 80px;
                  width: 80px;
                  border-radius: 100px;
                  object-fit: cover;
                }
              }

              .text-content-div {
                width: calc(100% - 80px);
                padding: 0 0 0 20px;
                position: relative;

                h3 {
                  font-weight: 500;
                  line-height: 1.3;
                  display: block;
                  margin: 0 0 10px 0;
                  font-size: 22px;
                  color: #fff;
                  letter-spacing: 0;
                  max-width: 385px;
                }

                .other-info-row-div {
                  .time-box {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    width: 100%;

                    .icon-span {
                      width: 25px;
                      display: flex;
                      align-items: center;
                      margin: 0 10px 0 0;
                    }

                    .text {
                      font-weight: 400;
                      font-size: 18px;
                      line-height: 1.3;
                      color: rgba(255, 255, 255, 0.6);
                      letter-spacing: 0;
                      width: calc(100% - 35px);
                    }
                  }
                }
              }
            }
          }

          .live-streams-content-right {
            padding: 0;
            width: 35%;
            position: relative;

            .book-button-div {
              padding: 0;

              .btn-row {
                padding: 0;
                margin: 0 0 12px 0;
              }

              .text-center-row {
                p.text-italic {
                  font-weight: 400;
                  font-size: 14px;
                  color: rgba(255, 255, 255, 0.6);
                  letter-spacing: 0;
                  text-align: center;
                  font-style: italic;
                }
              }
            }
          }
        }
      }
    }
  }
}

.similar-creators-slider-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .similar-creators-slider {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: #191919;
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .similar-creators-slider-box {
      padding: 5px;
      margin: 0 0 15px 0;
      position: relative;
      width: 100%;
      max-width: 390px;

      .creators-img-mask-thumb {
        padding: 0;
        margin: 0 0 20px 0;
        position: relative;

        .img-responsive {
          margin: 0 auto;
          display: block;
          width: 100%;
          height: 390px;
          object-fit: cover;
          border-radius: 6px;
        }
      }

      .creators-img-link {
        display: flex;

        .view-details-text {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          background: url(../images/mask/mask02.svg) no-repeat;
          transition: all 0.8s;
          transform: scale(0);

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.4;
            color: #fff;
            letter-spacing: 0;
            text-align: center;

            span.block {
              display: block;
            }
          }
        }
      }

      .creators-content-div {
        .link {
          color: inherit;
        }

        h3 {
          font-weight: 800;
          line-height: 1.3;
          display: block;
          margin: 0 0 5px 0;
          color: #fff;
          font-size: 30px;
          letter-spacing: 0;
          text-align: center;
          font-family: "Moderat Extended", sans-serif;
          word-break: break-word;
        }

        h4 {
          font-weight: 400;
          font-size: 18px;
          margin: 0 0 15px 0;
          line-height: 1.3;
          display: block;
          color: rgba(255, 255, 255, 0.65);
          text-align: center;
          letter-spacing: 0;
        }

        .star-row-div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          margin: 0 0 20px 0;

          .star-left-div {
            padding: 0 5px 0 0;
            margin: 0;
          }

          .star-right-div {
            padding: 0;
            margin: 0;
          }

          ul.star-rating-ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            li {
              display: flex;
            }

            .star-custom-icon {
              color: #9b9b9b;
              font-size: 16px;
              margin: 0 0 0 0;

              &.active {
                color: #ff5f00;
              }
            }
          }

          span.text {
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
            letter-spacing: 0;
            display: inline-block;
          }
        }
      }
    }
  }
}

.owl-slider-common-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .owl-slider-common-slider {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: #191919;
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .our-video-common-slider-box {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;

      .our-video-img-thumb {
        padding: 0;
        margin: 0 0 12px 0;
        position: relative;
        overflow: hidden;

        .img-responsive {
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: top;
          transition: 0.8s;
          border-radius: 6px;
        }

        .video-button-div {
          .video-button-link {
            position: absolute;
            top: calc(50% - 30px);
            right: calc(50% - 30px);
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(121deg, transparent 2%, transparent 100%);
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 100px;
            font-size: 22px;
            color: #fff;
            padding: 0;
            outline: none;
            transition: all 0.8s;

            .fa {
              padding: 1px 0 0 4px;
            }

            &:hover {
              background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
            }
          }
        }

        .like-box-abs {
          position: absolute;
          top: 10px;
          left: 10px;

          .like-button {
            padding: 0;
            margin: 0;
            position: relative;
            background-color: #fff;
            height: 28px;
            color: #ef4443;
            width: 28px;
            border: none;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            box-shadow: none;
            cursor: pointer;

            .like-icon {
              &::before {
                content: "\e87e";
                font-family: "Material Icons";
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            &.active {
              .like-icon {
                &::before {
                  content: "\e87d";
                }
              }
            }
          }
        }
      }

      .our-content-div {
        .our-content-row {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          width: 100%;
          position: relative;

          .our-content-left {
            width: 60px;

            img.img-fluid.user {
              width: 50px;
              height: 50px;
              border-radius: 100px;
            }
          }

          .our-content-right {
            width: calc(100% - 60px);

            .link {
              color: inherit;
            }

            h3 {
              font-weight: 500;
              line-height: 1.25;
              display: block;
              margin: 0 0 4px 0;
              font-size: 14px;
              color: #fff;
              letter-spacing: 0;
            }

            h4 {
              font-weight: 400;
              font-size: 14px;
              line-height: 1.3;
              display: block;
              color: rgba(255, 255, 255, 0.6);
              letter-spacing: 0;
            }
          }
        }
      }
    }
  }
}

.materials-creators-slider-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .materials-creators-slider {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: #212121;
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .materials-creators-slider-box {
      padding: 5px;
      margin: 0 0 15px 0;
      position: relative;
      width: 100%;
      max-width: 300px;

      .creators-img-mask-thumb {
        padding: 0;
        margin: 0 0 20px 0;
        position: relative;

        .img-responsive {
          margin: 0 auto;
          display: block;
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 6px;
        }
      }

      .creators-img-link {
        display: flex;

        .view-details-text {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          background: url(../images/mask/mask02.svg) no-repeat;
          transition: all 0.8s;
          transform: scale(0);

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.4;
            color: #fff;
            letter-spacing: 0;
            text-align: center;

            span.block {
              display: block;
            }
          }
        }
      }

      .creators-content-div {
        .link {
          color: inherit;
        }

        h3 {
          font-weight: 800;
          line-height: 1.3;
          display: block;
          margin: 0 0 5px 0;
          color: #fff;
          font-size: 30px;
          letter-spacing: 0;
          text-align: center;
          font-family: "Moderat Extended", sans-serif;
          word-break: break-word;
        }

        h4 {
          font-weight: 400;
          font-size: 18px;
          margin: 0 0 15px 0;
          line-height: 1.3;
          display: block;
          color: rgba(255, 255, 255, 0.65);
          text-align: center;
          letter-spacing: 0;
        }

        .star-row-div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          margin: 0 0 20px 0;

          .star-left-div {
            padding: 0 5px 0 0;
            margin: 0;
          }

          .star-right-div {
            padding: 0;
            margin: 0;
          }

          ul.star-rating-ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            li {
              display: flex;
            }

            .star-custom-icon {
              color: #9b9b9b;
              font-size: 16px;
              margin: 0 0 0 0;

              &.active {
                color: #ff5f00;
              }
            }
          }

          span.text {
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
            letter-spacing: 0;
            display: inline-block;
          }
        }
      }
    }
  }
}

// new slider
.owl-slider-new-main-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .owl-slider-new-main-slider {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: var(--bg-color01);
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      // overflow: visible;
    }

    .our-video-common-slider-box {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;
      background: #1e1e27;
      border-radius: 8px;

      .our-video-img-thumb {
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;

        .img-responsive {
          width: 100%;
          height: 170px;
          object-fit: cover;
          object-position: top;
          transition: 0.8s;
          border-radius: 8px 8px 0 0;
        }

        .video-button-div {
          .video-button-link {
            position: absolute;
            top: calc(50% - 30px);
            right: calc(50% - 30px);
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(121deg, transparent 2%, transparent 100%);
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 100px;
            font-size: 22px;
            color: #fff;
            padding: 0;
            outline: none;
            transition: all 0.8s;

            .fa {
              padding: 1px 0 0 4px;
            }

            &:hover {
              background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
            }
          }
        }

        .like-box-abs {
          position: absolute;
          top: 20px;
          right: 20px;

          .like-button {
            padding: 1px 1px 0 0;
            margin: 0;
            position: relative;
            background-color: #fff;
            height: 36px;
            color: #ef4443;
            width: 36px;
            border: none;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            box-shadow: none;
            cursor: pointer;

            .like-icon {
              &::before {
                content: "\e87e";
                font-family: "Material Icons";
                font-weight: normal;
                font-style: normal;
                font-size: 22px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            &.active {
              .like-icon {
                &::before {
                  content: "\e87d";
                }
              }
            }
          }
        }

        .time-box-abs {
          position: absolute;
          top: 20px;
          left: 20px;

          .time-button {
            padding: 2px 12px 0 12px;
            margin: 0;
            position: relative;
            background-color: rgba(27, 29, 33, 0.7);
            min-height: 28px;
            color: #ef4443;
            border: none;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #fff;
          }
        }
      }

      .our-content-div {
        .our-content-row {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          padding: 20px;

          .our-content-full {
            width: 100%;
          }

          h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 20px 0;
            color: #fff;

            a {
              color: inherit;
            }
          }

          .our-content-left {
            width: 46px;

            img.img-fluid.user {
              width: 36px;
              height: 36px;
              object-fit: cover;
              border-radius: 100px;
            }
          }

          .our-content-right {
            width: calc(100% - 46px);

            .link {
              color: inherit;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
            }

            h3 {
              font-weight: 500;
              line-height: 1.3;
              display: block;
              margin: 0;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.75);
              letter-spacing: 0;
            }

            .icon-rounded-span {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #7fba7a;
              border-radius: 8px;
              width: 14px;
              height: 14px;
              font-size: 13px;
              color: #242731;
              margin: 0 0 1px 8px;

              .material-icons {
                font-size: 12px;
                padding: 1px 0 0 0;
              }
            }

            p {
              font-weight: 500;
              font-size: 12px;
              line-height: 1.3;
              display: block;
              color: #808191;
              letter-spacing: 0;
            }
          }
        }

        .our-content-bottom-row {
          border-top: 1px solid rgba(240, 243, 246, 0.1);
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          padding: 16px 20px;

          .label-div {
            span.txt-label {
              background: linear-gradient(121.85deg, #ef4443 14.84%, #ef6b18 91.11%);
              border-radius: 5px;
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
              color: #fff;
              min-height: 24px;
              display: flex;
              align-items: center;
              padding: 2px 10px;
            }
          }

          .our-content-bottom-right {
            h4 {
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: #808191;
              display: flex;
              align-items: center;
              flex-wrap: wrap;

              .material-icons {
                margin: 0 5px 0 0;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.upc-streams-slider-new-main-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;

  .upc-streams-slider-new-root {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 1920px;

    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      height: 100%;
      width: 100vw;
      background-color: var(--bg-color01);
      display: flex;
      overflow: hidden;
      z-index: 9;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .our-video-common-slider-box {
      padding: 0;
      margin: 0 0 20px 0;
      position: relative;
      background: #1e1e27;
      border-radius: 10px;

      .our-video-img-thumb {
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;

        .img-responsive {
          width: 100%;
          height: 260px;
          object-fit: cover;
          object-position: top;
          transition: 0.8s;
          border-radius: 10px 10px 0 0;
        }

        .video-button-div {
          .video-button-link {
            position: absolute;
            top: calc(50% - 30px);
            right: calc(50% - 30px);
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(121deg, transparent 2%, transparent 100%);
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 100px;
            font-size: 22px;
            color: #fff;
            padding: 0;
            outline: none;
            transition: all 0.8s;

            .fa {
              padding: 1px 0 0 4px;
            }

            &:hover {
              background-image: linear-gradient(121deg, #ef4443 2%, #ef6b18 100%);
            }
          }
        }

        .like-box-abs {
          position: absolute;
          top: 20px;
          right: 20px;

          .like-button {
            padding: 1px 1px 0 0;
            margin: 0;
            position: relative;
            background-color: #fff;
            height: 36px;
            color: #ef4443;
            width: 36px;
            border: none;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            box-shadow: none;
            cursor: pointer;

            .like-icon {
              &::before {
                content: "\e87e";
                font-family: "Material Icons";
                font-weight: normal;
                font-style: normal;
                font-size: 22px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            &.active {
              .like-icon {
                &::before {
                  content: "\e87d";
                }
              }
            }
          }
        }

        .time-box-abs {
          position: absolute;
          top: 20px;
          left: 20px;

          .time-button {
            padding: 2px 12px 0 12px;
            margin: 0;
            position: relative;
            background-color: rgba(27, 29, 33, 0.7);
            min-height: 28px;
            color: #ef4443;
            border: none;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #fff;
          }
        }
      }

      .our-content-div {
        .label-div {
          padding: 20px 14px 6px 14px;
          margin: 0 0 0 0;
          position: relative;

          ul {
            display: flex;
            flex-wrap: wrap;

            li {
              margin: 0 10px 10px 0;

              .link-black {
                background: #1e1e27;
                border: 2px solid #282a33;
                border-radius: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px 14px;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: #ffffffa6;
                transition: all 0.8s;
              }
            }
          }
        }

        .our-content-row {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          padding: 6px 20px 22px 20px;

          .our-content-full {
            width: 100%;
          }

          h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            margin: 0 0 20px 0;
            color: #fff;

            a {
              color: inherit;
            }
          }

          .our-content-left {
            width: 40px;

            img.img-fluid.user {
              width: 32px;
              height: 32px;
              object-fit: cover;
              border-radius: 100px;
            }
          }

          .our-content-right {
            width: calc(100% - 40px);

            .link {
              color: inherit;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
            }

            h3 {
              font-weight: 500;
              line-height: 1.3;
              display: block;
              margin: 0;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.75);
              letter-spacing: 0;
            }

            .icon-rounded-span {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #7fba7a;
              border-radius: 8px;
              width: 14px;
              height: 14px;
              font-size: 13px;
              color: #242731;
              margin: 0 0 1px 8px;

              .material-icons {
                font-size: 12px;
                padding: 1px 0 0 0;
              }
            }

            p {
              font-weight: 500;
              font-size: 12px;
              line-height: 1.3;
              display: block;
              color: #808191;
              letter-spacing: 0;
            }
          }
        }

        .our-content-row-ls {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .our-content-row-ls-left {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
          }

          .time-box {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .icon-span {
              margin: 0 7px 0 0;

              .calendar-time-icon-new {
                width: 20px;
                height: 20px;
              }
            }

            .text {
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: #808191;
            }
          }
        }

        .our-content-bottom-row {
          border-top: 1px solid rgba(240, 243, 246, 0.1);
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          padding: 24px 20px;

          .label-div {
            span.txt-label {
              background: linear-gradient(121.85deg, #ef4443 14.84%, #ef6b18 91.11%);
              border-radius: 5px;
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
              color: #fff;
              min-height: 24px;
              display: flex;
              align-items: center;
              padding: 2px 10px;
            }
          }

          .our-content-bottom-right {
            h4 {
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: #808191;
              display: flex;
              align-items: center;
              flex-wrap: wrap;

              .material-icons {
                margin: 0 5px 0 0;
                font-size: 18px;
              }
            }
          }

          .btn-div-group {
            width: 100%;

            .btn.btn-primary-outline::after {
              background-color: #1e1e28;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .upcoming-live-streams-slider-div {
    .owl-slider-main-slider {
      .live-streams-img-slider-box {
        width: 100%;
        max-width: 100%;

        .live-streams-img-thumb {
          .img-responsive {
            height: 250px;
          }

          .video-overlay-content-div {
            padding: 10px;

            .video-overlay-content-row {
              .video-overlay-content-left {
                .label-div {
                  ul {
                    .link-black {
                      font-size: 10px;
                      line-height: 1.4;
                      padding: 5px 12px 4px 12px;
                    }
                  }
                }
              }

              .video-overlay-content-right {
                .sp-label-div {
                  .link-black-sp {
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 5px 10px 4px 10px;

                    .bg-custom-icon {
                      margin: 0 5px 0 0;
                      width: 15px;
                      height: 8px;
                    }
                  }
                }
              }
            }
          }
        }

        .live-streams-content-div {
          .live-streams-content-row {
            .live-streams-content-left {
              width: 100%;

              .user-top-box {
                margin: 0 0 20px 0;

                .img-thumb {
                  width: 50px;

                  .img-responsive {
                    height: 50px;
                    width: 50px;
                  }
                }

                .text-content-div {
                  width: calc(100% - 50px);
                  padding: 0 0 0 15px;

                  h3 {
                    font-size: 14px;
                  }

                  .other-info-row-div {
                    .time-box {
                      .icon-span {
                        width: 18px;
                        margin: 0 7px 0 0;

                        .calendar-time-icon {
                          width: 18px;
                          height: 18px;
                        }
                      }

                      .text {
                        font-size: 12px;
                        width: calc(100% - 25px);
                      }
                    }
                  }
                }
              }
            }

            .live-streams-content-right {
              width: 100%;

              .btn-common-primary {
                font-size: 14px;
                line-height: 20px;
                min-height: 44px;
                padding: 4px 20px 3px 20px;
              }

              .book-button-div {
                .text-center-row {
                  p.text-italic {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .similar-creators-slider-div {
    .similar-creators-slider {
      .similar-creators-slider-box {
        .creators-img-mask-thumb {
          .img-responsive {
            height: 300px;
          }
        }

        .creators-content-div {
          h3 {
            font-size: 22px;
          }

          h4 {
            font-size: 14px;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }

  .materials-creators-slider-div {
    .materials-creators-slider {
      .materials-creators-slider-box {
        .creators-img-mask-thumb {
          margin: 0 0 15px 0;
        }

        .creators-content-div {
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }

  .upc-streams-slider-new-main-div {
    .upc-streams-slider-new-root {
      .our-video-common-slider-box {
        .our-video-img-thumb {
          .img-responsive {
            height: 205px;
          }
        }

        .our-content-div {
          .our-content-row {
            h4 {
              font-size: 14px;
              line-height: 24px;
            }
          }

          .our-content-row-ls {
            .our-content-row-ls-left {
              width: 100%;
              margin: 0 0 20px 0;
            }
          }
        }
      }
    }
  }

  .owl-slider-new-main-div {
    .owl-slider-new-main-slider {
      .owl-slider-new-main-slider {
        .owl-theme {
          .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              height: 10px;
              width: 10px;
              border-radius: 100px;
              background-color: #282a33;
              margin: 5px 10px;
              border: 0;
              outline: 0;
              box-shadow: none;
            }

            .active {
              background: linear-gradient(114.74deg, #ef4443 8.09%, #ef6b18 93.47%);
              background-color: #ef4443;
              border: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .upcoming-live-streams-slider-div {
    .owl-slider-main-slider {
      .live-streams-img-slider-box {
        width: 100%;
        max-width: 100%;

        .live-streams-img-thumb {
          .img-responsive {
            height: 250px;
          }

          .video-overlay-content-div {
            padding: 10px;

            .video-overlay-content-row {
              .video-overlay-content-left {
                .label-div {
                  ul {
                    .link-black {
                      font-size: 10px;
                      line-height: 1.4;
                      padding: 5px 12px 4px 12px;
                    }
                  }
                }
              }

              .video-overlay-content-right {
                .sp-label-div {
                  .link-black-sp {
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 5px 10px 4px 10px;

                    .bg-custom-icon {
                      margin: 0 5px 0 0;
                      width: 15px;
                      height: 8px;
                    }
                  }
                }
              }
            }
          }
        }

        .live-streams-content-div {
          .live-streams-content-row {
            .live-streams-content-left {
              width: 100%;

              .user-top-box {
                margin: 0 0 20px 0;

                .img-thumb {
                  width: 50px;

                  .img-responsive {
                    height: 50px;
                    width: 50px;
                  }
                }

                .text-content-div {
                  width: calc(100% - 50px);
                  padding: 0 0 0 15px;

                  h3 {
                    font-size: 14px;
                  }

                  .other-info-row-div {
                    .time-box {
                      .icon-span {
                        width: 18px;
                        margin: 0 7px 0 0;

                        .calendar-time-icon {
                          width: 18px;
                          height: 18px;
                        }
                      }

                      .text {
                        font-size: 12px;
                        width: calc(100% - 25px);
                      }
                    }
                  }
                }
              }
            }

            .live-streams-content-right {
              width: 100%;

              .btn-common-primary {
                font-size: 14px;
                line-height: 20px;
                min-height: 44px;
                padding: 4px 20px 3px 20px;
              }

              .book-button-div {
                .text-center-row {
                  p.text-italic {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .similar-creators-slider-div {
    .similar-creators-slider {
      .similar-creators-slider-box {
        .creators-img-mask-thumb {
          .img-responsive {
            height: 300px;
          }
        }

        .creators-content-div {
          h3 {
            font-size: 22px;
          }

          h4 {
            font-size: 14px;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }

  .materials-creators-slider-div {
    .materials-creators-slider {
      .materials-creators-slider-box {
        .creators-img-mask-thumb {
          margin: 0 0 15px 0;
        }

        .creators-content-div {
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
